# Merge UCDP and prep for time series integration

In [1]:
import pandas as pd

In [2]:
ucdp_par = pd.read_csv("../Data/UCDP_PRIO/Wrangled/participants_gw.csv", usecols=['gw_id', 'role', 'conflict_id', 'year'])
ucdp_con = pd.read_csv("../Data/UCDP_PRIO/Wrangled/conflicts.csv", usecols=['conflict_id', 'type_of_conflict', 'incompatibility_isTerritory', 'incompatibility_isGovernment'])
ucdp_obs = pd.read_csv("../Data/UCDP_PRIO/Wrangled/observations.csv", usecols=['conflict_id', 'year', 'intensity_level', 'cumulative_intensity', 'isInternational'])

In [3]:
ucdp_merged = ucdp_par.merge(ucdp_con, on='conflict_id').merge(ucdp_obs, on=['conflict_id', 'year'])
ucdp_merged

,gw_id,role,conflict_id,year,type_of_conflict,incompatibility_isTerritory,incompatibility_isGovernment,intensity_level,cumulative_intensity,isInternational
0,145,primary,200,1946,Internal,0,1,War,War,0.0
1,145,primary,200,1952,Internal,0,1,Minor,War,0.0
2,145,primary,200,1967,Internal,0,1,Minor,War,0.0
3,220,primary,201,1946,Extrasystemic,1,0,Minor,Minor,NaN
4,220,primary,201,1947,Extrasystemic,1,0,Minor,Minor,NaN
...,...,...,...,...,...,...,...,...,...,...
4442,840,primary,14275,2017,Internal,1,0,War,War,0.0
4443,840,primary,14275,2018,Internal,1,0,Minor,War,0.0
4444,616,primary,14333,2016,Internal,1,0,Minor,Minor,0.0
4445,630,primary,14609,2018,Interstate,0,1,Minor,Minor,NaN
4446,666,primary,14609,2018,Interstate,0,1,Minor,Minor,NaN

In [4]:
mask_intl = ucdp_merged['isInternational'] = 1
ucdp_merged.loc[mask_intl, 'type_of_conflict'] = "Internationalized Internal"
ucdp_merged = ucdp_merged.drop(columns=['isInternational'])
ucdp_merged

,gw_id,role,conflict_id,year,type_of_conflict,incompatibility_isTerritory,incompatibility_isGovernment,intensity_level,cumulative_intensity
0,145,primary,200,1946,Internal,0,1,War,War
1,145,primary,200,1952,Internationalized Internal,0,1,Minor,War
2,145,primary,200,1967,Internal,0,1,Minor,War
3,220,primary,201,1946,Extrasystemic,1,0,Minor,Minor
4,220,primary,201,1947,Extrasystemic,1,0,Minor,Minor
...,...,...,...,...,...,...,...,...,...
4442,840,primary,14275,2017,Internal,1,0,War,War
4443,840,primary,14275,2018,Internal,1,0,Minor,War
4444,616,primary,14333,2016,Internal,1,0,Minor,Minor
4445,630,primary,14609,2018,Interstate,0,1,Minor,Minor
4446,666,primary,14609,2018,Interstate,0,1,Minor,Minor

In [5]:
intensity_map = {'War': 2, 'Minor': 1}
ucdp_merged['ep_intensity'] = ucdp_merged['intensity_level'].map(intensity_map)
ucdp_merged['war_intensity'] = ucdp_merged['cumulative_intensity'].map(intensity_map)
ucdp_merged

,gw_id,role,conflict_id,year,type_of_conflict,incompatibility_isTerritory,incompatibility_isGovernment,intensity_level,cumulative_intensity,ep_intensity,war_intensity
0,145,primary,200,1946,Internal,0,1,War,War,2,2
1,145,primary,200,1952,Internationalized Internal,0,1,Minor,War,1,2
2,145,primary,200,1967,Internal,0,1,Minor,War,1,2
3,220,primary,201,1946,Extrasystemic,1,0,Minor,Minor,1,1
4,220,primary,201,1947,Extrasystemic,1,0,Minor,Minor,1,1
...,...,...,...,...,...,...,...,...,...,...,...
4442,840,primary,14275,2017,Internal,1,0,War,War,2,2
4443,840,primary,14275,2018,Internal,1,0,Minor,War,1,2
4444,616,primary,14333,2016,Internal,1,0,Minor,Minor,1,1
4445,630,primary,14609,2018,Interstate,0,1,Minor,Minor,1,1
4446,666,primary,14609,2018,Interstate,0,1,Minor,Minor,1,1

In [6]:
type_dummy = pd.get_dummies(ucdp_merged['type_of_conflict'], prefix='type')
ucdp_merged = pd.concat([ucdp_merged, type_dummy], axis=1)

role_dummy = pd.get_dummies(ucdp_merged['role'], prefix='role')
ucdp_merged = pd.concat([ucdp_merged, role_dummy], axis=1)

epint_dummy = pd.get_dummies(ucdp_merged['intensity_level'], prefix='ep-intensity')
ucdp_merged = pd.concat([ucdp_merged, epint_dummy], axis=1)

conint_dummy = pd.get_dummies(ucdp_merged['cumulative_intensity'], prefix='cum-intensity')
ucdp_merged = pd.concat([ucdp_merged, conint_dummy], axis=1)

ucdp_merged

,gw_id,role,conflict_id,year,type_of_conflict,incompatibility_isTerritory,incompatibility_isGovernment,intensity_level,cumulative_intensity,ep_intensity,...,type_Extrasystemic,type_Internal,type_Internationalized Internal,type_Interstate,role_primary,role_secondary,ep-intensity_Minor,ep-intensity_War,cum-intensity_Minor,cum-intensity_War
0,145,primary,200,1946,Internal,0,1,War,War,2,...,0,1,0,0,1,0,0,1,0,1
1,145,primary,200,1952,Internationalized Internal,0,1,Minor,War,1,...,0,0,1,0,1,0,1,0,0,1
2,145,primary,200,1967,Internal,0,1,Minor,War,1,...,0,1,0,0,1,0,1,0,0,1
3,220,primary,201,1946,Extrasystemic,1,0,Minor,Minor,1,...,1,0,0,0,1,0,1,0,1,0
4,220,primary,201,1947,Extrasystemic,1,0,Minor,Minor,1,...,1,0,0,0,1,0,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4442,840,primary,14275,2017,Internal,1,0,War,War,2,...,0,1,0,0,1,0,0,1,0,1
4443,840,primary,14275,2018,Internal,1,0,Minor,War,1,...,0,1,0,0,1,0,1,0,0,1
4444,616,primary,14333,2016,Internal,1,0,Minor,Minor,1,...,0,1,0,0,1,0,1,0,1,0
4445,630,primary,14609,2018,Interstate,0,1,Minor,Minor,1,...,0,0,0,1,1,0,1,0,1,0
4446,666,primary,14609,2018,Interstate,0,1,Minor,Minor,1,...,0,0,0,1,1,0,1,0,1,0

In [7]:
ucdp_merged.columns

Index(['gw_id', 'role', 'conflict_id', 'year', 'type_of_conflict',
       'incompatibility_isTerritory', 'incompatibility_isGovernment',
       'intensity_level', 'cumulative_intensity', 'ep_intensity',
       'war_intensity', 'type_Extrasystemic', 'type_Internal',
       'type_Internationalized Internal', 'type_Interstate', 'role_primary',
       'role_secondary', 'ep-intensity_Minor', 'ep-intensity_War',
       'cum-intensity_Minor', 'cum-intensity_War'],
      dtype='object')

In [8]:
ucdp_gb = ucdp_merged.groupby(['gw_id', 'year']).agg({'conflict_id':'nunique', 
                                                      'ep_intensity': 'max',
                                                      'incompatibility_isTerritory': 'sum', 
                                                      'incompatibility_isGovernment': 'sum', 
                                                      'type_Extrasystemic': 'sum', 
                                                      'type_Internal': 'sum',
                                                      'type_Internationalized Internal': 'sum', 
                                                      'type_Interstate': 'sum', 
                                                      'role_primary': 'sum',
                                                      'role_secondary': 'sum', 
                                                      'ep-intensity_Minor': 'sum', 
                                                      'ep-intensity_War': 'sum',
                                                      'cum-intensity_Minor': 'sum', 
                                                      'cum-intensity_War': 'sum'})
ucdp_gb = ucdp_gb.rename(columns={'conflict_id': 'conflict_count', 'ep_intensity': 'max_ep-intensity'})
ucdp_gb

            conflict_count  max_ep-intensity  incompatibility_isTerritory  \
gw_id year
2     1950               2                 2                            2
      1951               1                 2                            1
      1952               1                 2                            1
      1953               1                 2                            1
      1954               1                 2                            1
...                    ...               ...                          ...
972   2008               1                 2                            0
      2011               1                 2                            0
      2012               1                 2                            0
      2013               1                 2                            0
      2014               1                 2                            0

            incompatibility_isGovernment  type_Extrasystemic  type_Internal  \
gw_id year
2     1950                             0                   1              0
      1951                             0                   0              0
      1952                             0                   0              0
      1953                             0                   0              0
      1954                             1                   0              0
...                                  ...                 ...            ...
972   2008                             1                   0              1
      2011                             1                   0              1
      2012                             1                   0              1
      2013                             1                   0              1
      2014                             1                   0              1

            type_Internationalized Internal  type_Interstate  role_primary  \
gw_id year
2     1950                                0                1             1
      1951                                0                1             0
      1952                                0                1             0
      1953                                0                1             0
      1954                                0                1             0
...                                     ...              ...           ...
972   2008                                0                0             0
      2011                                0                0             0
      2012                                0                0             0
      2013                                0                0             0
      2014                                0                0             0

            role_secondary  ep-intensity_Minor  ep-intensity_War  \
gw_id year
2     1950               1                   1                 1
      1951               1                   0                 1
      1952               1                   0                 1
      1953               1                   0                 1
      1954               1                   0                 1
...                    ...                 ...               ...
972   2008               1                   0                 1
      2011               1                   0                 1
      2012               1                   0                 1
      2013               1                   0                 1
      2014               1                   0                 1

            cum-intensity_Minor  cum-intensity_War
gw_id year
2     1950                    1                  1
      1951                    0                  1
      1952                    0                  1
      1953                    0                  1
      1954                    0                  1
...                         ...                ...
972   2008                    0                  1
      2011                    0                  1
      2012                    0                  1
      2013                    0                  1
      2014                    0                  1

[2849 rows x 14 columns]

In [9]:
ucdp_merged_war = ucdp_merged[ucdp_merged['intensity_level']=="War"]
ucdp_war_gb = ucdp_merged_war.groupby(['gw_id', 'year']).agg({'conflict_id':'nunique'})
ucdp_war_gb = ucdp_war_gb.rename(columns={'conflict_id': 'war_count'})
ucdp_war_gb

            war_count
gw_id year
2     1950          1
      1951          1
      1952          1
      1953          1
      1954          1
...               ...
972   2008          1
      2011          1
      2012          1
      2013          1
      2014          1

[1498 rows x 1 columns]

In [10]:
ucdp_final = pd.concat([ucdp_war_gb, ucdp_gb], axis=1)
ucdp_final['war_count'] = ucdp_final['war_count'].fillna(0).astype(int)
ucdp_final

            war_count  conflict_count  max_ep-intensity  \
gw_id year
2     1950          1               2                 2
      1951          1               1                 2
      1952          1               1                 2
      1953          1               1                 2
      1954          1               1                 2
...               ...             ...               ...
972   2008          1               1                 2
      2011          1               1                 2
      2012          1               1                 2
      2013          1               1                 2
      2014          1               1                 2

            incompatibility_isTerritory  incompatibility_isGovernment  \
gw_id year
2     1950                            2                             0
      1951                            1                             0
      1952                            1                             0
      1953                            1                             0
      1954                            1                             1
...                                 ...                           ...
972   2008                            0                             1
      2011                            0                             1
      2012                            0                             1
      2013                            0                             1
      2014                            0                             1

            type_Extrasystemic  type_Internal  \
gw_id year
2     1950                   1              0
      1951                   0              0
      1952                   0              0
      1953                   0              0
      1954                   0              0
...                        ...            ...
972   2008                   0              1
      2011                   0              1
      2012                   0              1
      2013                   0              1
      2014                   0              1

            type_Internationalized Internal  type_Interstate  role_primary  \
gw_id year
2     1950                                0                1             1
      1951                                0                1             0
      1952                                0                1             0
      1953                                0                1             0
      1954                                0                1             0
...                                     ...              ...           ...
972   2008                                0                0             0
      2011                                0                0             0
      2012                                0                0             0
      2013                                0                0             0
      2014                                0                0             0

            role_secondary  ep-intensity_Minor  ep-intensity_War  \
gw_id year
2     1950               1                   1                 1
      1951               1                   0                 1
      1952               1                   0                 1
      1953               1                   0                 1
      1954               1                   0                 1
...                    ...                 ...               ...
972   2008               1                   0                 1
      2011               1                   0                 1
      2012               1                   0                 1
      2013               1                   0                 1
      2014               1                   0                 1

            cum-intensity_Minor  cum-intensity_War
gw_id year
2     1950                    1                  1
      1951                    0                  1
      1952                    0                  1
      1953                    0                  1
      1954                    0                  1
...                         ...                ...
972   2008                    0                  1
      2011                    0                  1
      2012                    0                  1
      2013                    0                  1
      2014                    0                  1

[2849 rows x 15 columns]

In [11]:
ucdp_final.to_csv("../Data/FINAL/ucdp.csv")