# Assess and Explore the final time series dataset

In [6]:
import pandas as pd

In [7]:
df = pd.read_csv("../Data/FINAL/final_time-series.csv")

In [8]:
df

,country_name,year,continent,region,cow_id,gw_id,iso3alpha,p4_id,wb_id,ucdp_war_count,...,wb_SI.POV.GINI,wb_SL.UEM.TOTL.ZS,wb_SP.DYN.IMRT.IN,wb_SP.DYN.LE00.IN,wb_SP.DYN.TFRT.IN,wb_SP.POP.GROW,wb_SP.POP.TOTL,wb_SP.POP.TOTL.FE.IN,wb_SP.URB.TOTL.IN.ZS,wb_ST.INT.ARVL
0,Afghanistan,1946,Asia,Southern Asia,700.0,700.0,AFG,700.0,AFG,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,1947,Asia,Southern Asia,700.0,700.0,AFG,700.0,AFG,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Afghanistan,1948,Asia,Southern Asia,700.0,700.0,AFG,700.0,AFG,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Afghanistan,1949,Asia,Southern Asia,700.0,700.0,AFG,700.0,AFG,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Afghanistan,1950,Asia,Southern Asia,700.0,700.0,AFG,700.0,AFG,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10974,Zimbabwe,2014,Africa,Eastern Africa,552.0,552.0,ZWE,552.0,ZWE,0,...,NaN,5.518,40.4,58.410,3.974,1.754692,13586681.0,7126780.0,32.504,1880000.0
10975,Zimbabwe,2015,Africa,Eastern Africa,552.0,552.0,ZWE,552.0,ZWE,0,...,NaN,5.438,38.5,59.534,3.896,1.663813,13814629.0,7245857.0,32.385,2057000.0
10976,Zimbabwe,2016,Africa,Eastern Africa,552.0,552.0,ZWE,552.0,ZWE,0,...,NaN,5.239,36.3,60.294,3.804,1.549759,14030390.0,7356159.0,32.296,2168000.0
10977,Zimbabwe,2017,Africa,Eastern Africa,552.0,552.0,ZWE,552.0,ZWE,0,...,NaN,4.943,35.4,60.812,3.707,1.460061,14236745.0,7459621.0,32.237,2423000.0
10978,Zimbabwe,2018,Africa,Eastern Africa,552.0,552.0,ZWE,552.0,ZWE,0,...,NaN,4.915,33.9,NaN,NaN,1.410783,14439018.0,7559801.0,32.209,NaN

In [17]:
df.describe()

,year,cow_id,gw_id,p4_id,ucdp_war_count,ucdp_conflict_count,ucdp_max_ep-intensity,ucdp_incompatibility_isTerritory,ucdp_incompatibility_isGovernment,ucdp_type_Extrasystemic,...,wb_SI.POV.GINI,wb_SL.UEM.TOTL.ZS,wb_SP.DYN.IMRT.IN,wb_SP.DYN.LE00.IN,wb_SP.DYN.TFRT.IN,wb_SP.POP.GROW,wb_SP.POP.TOTL,wb_SP.POP.TOTL.FE.IN,wb_SP.URB.TOTL.IN.ZS,wb_ST.INT.ARVL
count,10979.000000,10885.000000,10935.000000,9916.000000,10979.000000,10979.000000,2834.000000,2834.000000,2834.000000,2834.000000,...,1453.000000,4905.000000,9124.0000,9152.000000,9146.000000,9569.000000,9.571000e+03,9.283000e+03,9563.000000,3.986000e+03
mean,1987.551507,453.166927,454.592318,456.426281,0.160215,0.401403,1.523289,0.673253,0.896965,0.048694,...,39.342877,8.051393,50.3637,63.942704,4.024028,1.789489,3.128551e+07,1.601368e+07,49.715361,4.669099e+06
std,19.743365,258.549304,259.169234,244.085897,0.438116,0.853978,0.499545,0.970703,0.704460,0.345042,...,9.513228,6.188853,45.6594,11.499676,2.019901,1.560593,1.158606e+08,5.709656e+07,24.587129,1.064935e+07
min,1946.000000,2.000000,2.000000,2.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,...,21.000000,0.140000,1.4000,18.907000,1.052000,-9.080638,9.394000e+03,2.987700e+04,2.154000,7.000000e+02
25%,1972.000000,225.000000,225.000000,255.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,...,31.800000,3.600000,13.9000,55.258500,2.110000,0.752186,1.923134e+06,1.063915e+06,29.082000,1.952500e+05
50%,1990.000000,439.000000,450.000000,452.000000,0.000000,0.000000,2.000000,0.000000,1.000000,0.000000,...,37.500000,6.497000,34.5000,67.135500,3.665000,1.781318,6.541304e+06,3.558490e+06,48.825000,8.845000e+05
75%,2004.000000,666.000000,666.000000,663.000000,0.000000,1.000000,2.000000,1.000000,1.000000,0.000000,...,46.600000,10.789000,76.5000,72.884994,5.927500,2.689000,2.021246e+07,1.061872e+07,70.086000,3.901500e+06
max,2018.000000,990.000000,990.000000,950.000000,5.000000,9.000000,2.000000,6.000000,5.000000,5.000000,...,65.800000,37.939999,236.5000,85.417073,8.606000,17.632340,1.392730e+09,6.779722e+08,100.000000,8.686100e+07

In [9]:
df.columns

Index(['country_name', 'year', 'continent', 'region', 'cow_id', 'gw_id',
       'iso3alpha', 'p4_id', 'wb_id', 'ucdp_war_count', 'ucdp_conflict_count',
       'ucdp_max_ep-intensity', 'ucdp_incompatibility_isTerritory',
       'ucdp_incompatibility_isGovernment', 'ucdp_type_Extrasystemic',
       'ucdp_type_Internal', 'ucdp_type_Internationalized Internal',
       'ucdp_type_Interstate', 'ucdp_role_primary', 'ucdp_role_secondary',
       'ucdp_ep-intensity_Minor', 'ucdp_ep-intensity_War',
       'ucdp_cum-intensity_Minor', 'ucdp_cum-intensity_War', 'cow_war_count',
       'cow_IsInitiator', 'cow_avg_deaths', 'cow_type_extrastate',
       'cow_type_interstate', 'cow_type_intrastate', 'cow_type_nonstate',
       'cow_outcome_cont-conflict', 'cow_outcome_lose',
       'cow_outcome_ongoing2008', 'cow_outcome_stalemate', 'cow_outcome_tied',
       'cow_outcome_war-transitioned', 'cow_outcome_win', 'p4_fragment',
       'p4_democ', 'p4_autoc', 'p4_polity', 'p4_polity2', 'p4_durable',
       'p4_xrreg', 'p4_xrcomp', 'p4_xropen', 'p4_xconst', 'p4_parreg',
       'p4_parcomp', 'p4_exrec', 'p4_exconst', 'p4_polcomp', 'p4_interim',
       'p4_change', 'p4_d4', 'p4_sf', 'p4_regtrans', 'wb_BX.KLT.DINV.CD.WD',
       'wb_EG.ELC.ACCS.ZS', 'wb_EN.ATM.CO2E.PC', 'wb_EN.POP.DNST',
       'wb_FP.CPI.TOTL.ZG', 'wb_MS.MIL.XPND.GD.ZS', 'wb_NE.EXP.GNFS.ZS',
       'wb_NY.GDP.MKTP.CD', 'wb_NY.GDP.MKTP.KD.ZG', 'wb_NY.GDP.PCAP.CD',
       'wb_NY.GDP.PCAP.KD.ZG', 'wb_NY.GDP.PCAP.PP.CD', 'wb_SE.ADT.LITR.ZS',
       'wb_SE.XPD.TOTL.GB.ZS', 'wb_SH.XPD.CHEX.GD.ZS', 'wb_SI.POV.GINI',
       'wb_SL.UEM.TOTL.ZS', 'wb_SP.DYN.IMRT.IN', 'wb_SP.DYN.LE00.IN',
       'wb_SP.DYN.TFRT.IN', 'wb_SP.POP.GROW', 'wb_SP.POP.TOTL',
       'wb_SP.POP.TOTL.FE.IN', 'wb_SP.URB.TOTL.IN.ZS', 'wb_ST.INT.ARVL'],
      dtype='object')

In [10]:
df['year'].min(), df['year'].max()

(1946, 2018)

In [11]:
df['country_name'].nunique()

202

In [12]:
df['cow_id'].nunique()

202

In [15]:
df['p4_id'].nunique()

180

In [13]:
df['gw_id'].nunique()

200

In [14]:
df['iso3alpha'].nunique()

196

In [16]:
df['wb_id'].nunique()

195