# Start of Data Transformation

Task: use Pandas to transform csv files into DataFrames that match desired tables for database schema

Tables:

- POLITY (done)
- STATE_DATES (done)
- TERRITORY_DATES (done)
- TERRITORIALCHANGE (done)

In [1]:
import pandas as pd
import numpy as np

In [2]:
!ls ../SourceData/CorrelatesOfWar/

Codebooks                    MID_Narratives_2002-2010.pdf
CowWarList.csv               NMC_5_0-wsupplementary.csv
CowWarList.pdf               Non-StateWarData_v4.0.csv
Entities.pdf                 Territories.csv
Extra-StateWarData_v4.0.csv  alliance_v4.1_by_member.csv
IGO_stateunit_v2.3.csv       contdir.csv
Inter-StateWarData_v4.0.csv  igounit_v2.3.csv
Intra-StateWarData_v4.1.csv  majors2016.csv
MIDA_4.2.csv                 states2016.csv
MIDB_4.2.csv                 system2016.csv
MIDLOCA_2.0.csv              tc2014.csv
MID_Narratives_1993-2001.pdf

## Create 'POLITY' table

Task: transform the following csv files into a table:

- 'states2016.csv' 
- 'Territories.csv' 
- 'Non-StateWarData_v4.0.csv'
- 'Intra-StateWarData_v4.1.csv'
- 'Extra-StateWarData_v4.0.csv'

with the following attributes:

- PolityID
- PolityName
- PolityType
- StateAbbr

Note: Territories.csv was created by running Entities.pdf through [Tabula](https://tabula.technology/) and hand-correcting minor errors (for instance, some sets of rows were shifted to the left).

There were also some `\r`s introduced into rows where the TerritoryName was too long. I removed these by hand.
The carriage return characters can also be removed with this code:

`df = df.replace({r'\r': ' '}, regex=True)`

In [3]:
dfStates = pd.read_csv('../SourceData/CorrelatesOfWar/states2016.csv')
dfTerritories = pd.read_csv('../SourceData/CorrelatesOfWar/Territories.csv')
dfNonStateWarEntities = pd.read_csv('../SourceData/CorrelatesOfWar/Non-StateWarData_v4.0.csv', usecols=['SideA1', 'SideA2', 'SideB1', 'SideB2', 'SideB3', 'SideB4', 'SideB5'])
dfIntraStateWarEntities = pd.read_csv('../SourceData/CorrelatesOfWar/Intra-StateWarData_v4.1.csv', usecols=['CcodeA', 'SideA', 'CcodeB', 'SideB'])
dfExtraStateWarEntities = pd.read_csv('../SourceData/CorrelatesOfWar/Extra-StateWarData_v4.0.csv', usecols=['ccode1', 'SideA', 'ccode2', 'SideB'])

### STATES

In [4]:
dfStatesPOL = dfStates[['stateabb', 'ccode', 'statenme']]
dfStatesPOL.drop_duplicates(inplace=True)
dfStatesPOL.rename(columns={'stateabb':'StateAbbr', 'ccode':'PolityID', 'statenme':'PolityName'}, inplace=True)
dfStatesPOL['PolityType'] = 'State'
dfStatesPOL = dfStatesPOL[['PolityID', 'PolityName', 'PolityType', 'StateAbbr']]
dfStatesPOL

/usr/local/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/usr/local/anaconda3/lib/python3.6/site-packages/pandas/core/frame.py:4025: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  return super(DataFrame, self).rename(**kwargs)
/usr/local/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

     PolityID                      PolityName PolityType StateAbbr
0           2        United States of America      State       USA
1          20                          Canada      State       CAN
2          31                         Bahamas      State       BHM
3          40                            Cuba      State       CUB
5          41                           Haiti      State       HAI
7          42              Dominican Republic      State       DOM
9          51                         Jamaica      State       JAM
10         52             Trinidad and Tobago      State       TRI
11         53                        Barbados      State       BAR
12         54                        Dominica      State       DMA
13         55                         Grenada      State       GRN
14         56                       St. Lucia      State       SLU
15         57  St. Vincent and the Grenadines      State       SVG
16         58               Antigua & Barbuda      State       AAB
17         60             St. Kitts and Nevis      State       SKN
18         70                          Mexico      State       MEX
19         80                          Belize      State       BLZ
20         90                       Guatemala      State       GUA
21         91                        Honduras      State       HON
22         92                     El Salvador      State       SAL
23         93                       Nicaragua      State       NIC
24         94                      Costa Rica      State       COS
25         95                          Panama      State       PAN
26        100                        Colombia      State       COL
27        101                       Venezuela      State       VEN
28        110                          Guyana      State       GUY
29        115                        Suriname      State       SUR
30        130                         Ecuador      State       ECU
31        135                            Peru      State       PER
32        140                          Brazil      State       BRA
..        ...                             ...        ...       ...
213       771                      Bangladesh      State       BNG
214       775                         Myanmar      State       MYA
215       780                       Sri Lanka      State       SRI
216       781                        Maldives      State       MAD
217       790                           Nepal      State       NEP
218       800                        Thailand      State       THI
219       811                        Cambodia      State       CAM
220       812                            Laos      State       LAO
221       816                         Vietnam      State       DRV
222       817             Republic of Vietnam      State       RVN
223       820                        Malaysia      State       MAL
224       830                       Singapore      State       SIN
225       835                          Brunei      State       BRU
226       840                     Philippines      State       PHI
227       850                       Indonesia      State       INS
228       860                      East Timor      State       ETM
229       900                       Australia      State       AUL
230       910                Papua New Guinea      State       PNG
231       920                     New Zealand      State       NEW
232       935                         Vanuatu      State       VAN
233       940                 Solomon Islands      State       SOL
234       946                        Kiribati      State       KIR
235       947                          Tuvalu      State       TUV
236       950                            Fiji      State       FIJ
237       955                           Tonga      State       TON
238       970                           Nauru      State       NAU
239       983                Marshall Islands      State       MSI
240       986                           Palau      State       PAL
241       987  Federated States of Micronesia      State       FSM
242       990                           Samoa      State       WSM

[217 rows x 4 columns]

### TERRITORIES

Note:
Some TerritoryIDs matched up to multiple TerritoryNames. Those Territory IDs were:

- 374
- 1152
- 3351
- 3377

I suspect this is a coding error, as the names these IDs corresponded to were in different (albiet relatively close) locations. For the sake of having a unique ID, and because only the ID is recorded in the TERRITORIALCHANGE table, I modified these by hand to be the same, with the second name in parentheses.

In [5]:
dfTerritoriesPOL = dfTerritories[['Entity Number', 'Name']]
dfTerritoriesPOL.drop_duplicates(inplace=True)
dfTerritoriesPOL.rename(columns={'Entity Number':'PolityID', 'Name':'PolityName'}, inplace=True)
dfTerritoriesPOL['PolityType'] = 'Territory'
dfTerritoriesPOL = dfTerritoriesPOL[['PolityID', 'PolityName', 'PolityType']]
dfTerritoriesPOL

/usr/local/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/usr/local/anaconda3/lib/python3.6/site-packages/pandas/core/frame.py:4025: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  return super(DataFrame, self).rename(**kwargs)
/usr/local/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

      PolityID                                         PolityName PolityType
0            3                                             Alaska  Territory
3            4                                             Hawaii  Territory
5            5                                     Virgin Islands  Territory
7            6                                        Puerto Rico  Territory
10           7                                              Texas  Territory
14          10                                          Greenland  Territory
16          11                                         Faeroe Is.  Territory
18          20                                             Canada  Territory
20          21                                       Newfoundland  Territory
23          30                                            Bermuda  Territory
24          31                                            Bahamas  Territory
25          40                                               Cuba  Territory
29          41                                              Haiti  Territory
30          42                 Dominican Republic (Santo Domingo)  Territory
36          50                             West Indies Federation  Territory
56          51                                            Jamaica  Territory
58          52                                Trinidad and Tobago  Territory
60          53                                           Barbados  Territory
63          54                                           Dominica  Territory
68          55                                            Grenada  Territory
73          56                                          St. Lucia  Territory
77          57                     St. Vincent and the Grenadines  Territory
81          58                                  Antigua & Barbuda  Territory
86          59                                         Montserrat  Territory
91          60                                    St. Kitts-Nevis  Territory
96          65                                         Guadeloupe  Territory
98          66                                         Martinique  Territory
99          68                               Netherlands Antilles  Territory
102         70                                             Mexico  Territory
105         80                          Belize (British Honduras)  Territory
...        ...                                                ...        ...
2591      9610                                      Clipperton I.  Territory
2595      9620                                       Pitcairn Is.  Territory
2596      9621                                           Ducie I.  Territory
2598      9720                                            Wake I.  Territory
2600      9730                                         Midway Is.  Territory
2601      9740                                        Palmyra Is.  Territory
2605      9750                                        Johnston I.  Territory
2606      9760                                       Kingman Reef  Territory
2607      9770                                         Howland I.  Territory
2608      9771                                           Baker I.  Territory
2609      9772                                          Jarvis I.  Territory
2610      9810                                       Caroline Is.  Territory
2616      9820                                        Mariana Is.  Territory
2621      9900                                              Samoa  Territory
2623      9960                     Australian Antarctic Territory  Territory
2624      9970  French and Southern Antarctic Territories (F.S...  Territory
2625      9971                                        Adelie Land  Territory
2627      9972                     St. Paul and New Amsterdam Is.  Territory
2629      9973                                      Kerguelen Is.  Territory
2631      9974                                         Crozet Is.  Territory
2633      9980                        British Antarctic Territory  Territory
2634      9981                         Palmer Antarctic Territory  Territory
2636      9982                                   South Orkney Is.  Territory
2639      9983                                 South Shetland Is.  Territory
2642      9984                                 South Sandwich Is.  Territory
2646      9985                               Argentine Antarctica  Territory
2647      9986                                 Chilean Antarctica  Territory
2648      9987                                   Neu Schwabenland  Territory
2649      9991                                         Peter I I.  Territory
2650      9993                                          Bouvet I.  Territory

[1146 rows x 3 columns]

In [6]:
statesterrs = [dfStatesPOL, dfTerritoriesPOL]
dfPolity = pd.concat(statesterrs)
dfPolity

/usr/local/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

,PolityID,PolityName,PolityType,StateAbbr
0,2,United States of America,State,USA
1,20,Canada,State,CAN
2,31,Bahamas,State,BHM
3,40,Cuba,State,CUB
5,41,Haiti,State,HAI
7,42,Dominican Republic,State,DOM
9,51,Jamaica,State,JAM
10,52,Trinidad and Tobago,State,TRI
11,53,Barbados,State,BAR
12,54,Dominica,State,DMA
13,55,Grenada,State,GRN
14,56,St. Lucia,State,SLU
15,57,St. Vincent and the Grenadines,State,SVG
16,58,Antigua & Barbuda,State,AAB
17,60,St. Kitts and Nevis,State,SKN
18,70,Mexico,State,MEX
19,80,Belize,State,BLZ
20,90,Guatemala,State,GUA
21,91,Honduras,State,HON
22,92,El Salvador,State,SAL
23,93,Nicaragua,State,NIC
24,94,Costa Rica,State,COS
25,95,Panama,State,PAN
26,100,Colombia,State,COL
27,101,Venezuela,State,VEN
28,110,Guyana,State,GUY
29,115,Suriname,State,SUR
30,130,Ecuador,State,ECU
31,135,Peru,State,PER
32,140,Brazil,State,BRA
...,...,...,...,...
2591,9610,Clipperton I.,Territory,NaN
2595,9620,Pitcairn Is.,Territory,NaN
2596,9621,Ducie I.,Territory,NaN
2598,9720,Wake I.,Territory,NaN
2600,9730,Midway Is.,Territory,NaN
2601,9740,Palmyra Is.,Territory,NaN
2605,9750,Johnston I.,Territory,NaN
2606,9760,Kingman Reef,Territory,NaN
2607,9770,Howland I.,Territory,NaN
2608,9771,Baker I.,Territory,NaN
2609,9772,Jarvis I.,Territory,NaN
2610,9810,Caroline Is.,Territory,NaN
2616,9820,Mariana Is.,Territory,NaN
2621,9900,Samoa,Territory,NaN
2623,9960,Australian Antarctic Territory,Territory,NaN
2624,9970,French and Southern Antarctic Territories (F.S...,Territory,NaN
2625,9971,Adelie Land,Territory,NaN
2627,9972,St. Paul and New Amsterdam Is.,Territory,NaN
2629,9973,Kerguelen Is.,Territory,NaN
2631,9974,Crozet Is.,Territory,NaN
2633,9980,British Antarctic Territory,Territory,NaN
2634,9981,Palmer Antarctic Territory,Territory,NaN
2636,9982,South Orkney Is.,Territory,NaN
2639,9983,South Shetland Is.,Territory,NaN
2642,9984,South Sandwich Is.,Territory,NaN
2646,9985,Argentine Antarctica,Territory,NaN
2647,9986,Chilean Antarctica,Territory,NaN
2648,9987,Neu Schwabenland,Territory,NaN
2649,9991,Peter I I.,Territory,NaN
2650,9993,Bouvet I.,Territory,NaN

In [7]:
dfPolity.sort_values(by=['PolityType'])
dfPolity.drop_duplicates(subset='PolityID', keep='first', inplace=True)
dfPolity

,PolityID,PolityName,PolityType,StateAbbr
0,2,United States of America,State,USA
1,20,Canada,State,CAN
2,31,Bahamas,State,BHM
3,40,Cuba,State,CUB
5,41,Haiti,State,HAI
7,42,Dominican Republic,State,DOM
9,51,Jamaica,State,JAM
10,52,Trinidad and Tobago,State,TRI
11,53,Barbados,State,BAR
12,54,Dominica,State,DMA
13,55,Grenada,State,GRN
14,56,St. Lucia,State,SLU
15,57,St. Vincent and the Grenadines,State,SVG
16,58,Antigua & Barbuda,State,AAB
17,60,St. Kitts and Nevis,State,SKN
18,70,Mexico,State,MEX
19,80,Belize,State,BLZ
20,90,Guatemala,State,GUA
21,91,Honduras,State,HON
22,92,El Salvador,State,SAL
23,93,Nicaragua,State,NIC
24,94,Costa Rica,State,COS
25,95,Panama,State,PAN
26,100,Colombia,State,COL
27,101,Venezuela,State,VEN
28,110,Guyana,State,GUY
29,115,Suriname,State,SUR
30,130,Ecuador,State,ECU
31,135,Peru,State,PER
32,140,Brazil,State,BRA
...,...,...,...,...
2591,9610,Clipperton I.,Territory,NaN
2595,9620,Pitcairn Is.,Territory,NaN
2596,9621,Ducie I.,Territory,NaN
2598,9720,Wake I.,Territory,NaN
2600,9730,Midway Is.,Territory,NaN
2601,9740,Palmyra Is.,Territory,NaN
2605,9750,Johnston I.,Territory,NaN
2606,9760,Kingman Reef,Territory,NaN
2607,9770,Howland I.,Territory,NaN
2608,9771,Baker I.,Territory,NaN
2609,9772,Jarvis I.,Territory,NaN
2610,9810,Caroline Is.,Territory,NaN
2616,9820,Mariana Is.,Territory,NaN
2621,9900,Samoa,Territory,NaN
2623,9960,Australian Antarctic Territory,Territory,NaN
2624,9970,French and Southern Antarctic Territories (F.S...,Territory,NaN
2625,9971,Adelie Land,Territory,NaN
2627,9972,St. Paul and New Amsterdam Is.,Territory,NaN
2629,9973,Kerguelen Is.,Territory,NaN
2631,9974,Crozet Is.,Territory,NaN
2633,9980,British Antarctic Territory,Territory,NaN
2634,9981,Palmer Antarctic Territory,Territory,NaN
2636,9982,South Orkney Is.,Territory,NaN
2639,9983,South Shetland Is.,Territory,NaN
2642,9984,South Sandwich Is.,Territory,NaN
2646,9985,Argentine Antarctica,Territory,NaN
2647,9986,Chilean Antarctica,Territory,NaN
2648,9987,Neu Schwabenland,Territory,NaN
2649,9991,Peter I I.,Territory,NaN
2650,9993,Bouvet I.,Territory,NaN

In [8]:
IOrows = [(0, 'League of Nations', 'International Organization', ''),
          (1, 'United Nations', 'International Organization', '')]
dfIOrows = pd.DataFrame(IOrows, columns=['PolityID', 'PolityName', 'PolityType', 'StateAbbr'])

addIOrows = [dfIOrows, dfPolity]
dfPolity = pd.concat(addIOrows)
dfPolity

,PolityID,PolityName,PolityType,StateAbbr
0,0,League of Nations,International Organization,
1,1,United Nations,International Organization,
0,2,United States of America,State,USA
1,20,Canada,State,CAN
2,31,Bahamas,State,BHM
3,40,Cuba,State,CUB
5,41,Haiti,State,HAI
7,42,Dominican Republic,State,DOM
9,51,Jamaica,State,JAM
10,52,Trinidad and Tobago,State,TRI
11,53,Barbados,State,BAR
12,54,Dominica,State,DMA
13,55,Grenada,State,GRN
14,56,St. Lucia,State,SLU
15,57,St. Vincent and the Grenadines,State,SVG
16,58,Antigua & Barbuda,State,AAB
17,60,St. Kitts and Nevis,State,SKN
18,70,Mexico,State,MEX
19,80,Belize,State,BLZ
20,90,Guatemala,State,GUA
21,91,Honduras,State,HON
22,92,El Salvador,State,SAL
23,93,Nicaragua,State,NIC
24,94,Costa Rica,State,COS
25,95,Panama,State,PAN
26,100,Colombia,State,COL
27,101,Venezuela,State,VEN
28,110,Guyana,State,GUY
29,115,Suriname,State,SUR
30,130,Ecuador,State,ECU
...,...,...,...,...
2591,9610,Clipperton I.,Territory,NaN
2595,9620,Pitcairn Is.,Territory,NaN
2596,9621,Ducie I.,Territory,NaN
2598,9720,Wake I.,Territory,NaN
2600,9730,Midway Is.,Territory,NaN
2601,9740,Palmyra Is.,Territory,NaN
2605,9750,Johnston I.,Territory,NaN
2606,9760,Kingman Reef,Territory,NaN
2607,9770,Howland I.,Territory,NaN
2608,9771,Baker I.,Territory,NaN
2609,9772,Jarvis I.,Territory,NaN
2610,9810,Caroline Is.,Territory,NaN
2616,9820,Mariana Is.,Territory,NaN
2621,9900,Samoa,Territory,NaN
2623,9960,Australian Antarctic Territory,Territory,NaN
2624,9970,French and Southern Antarctic Territories (F.S...,Territory,NaN
2625,9971,Adelie Land,Territory,NaN
2627,9972,St. Paul and New Amsterdam Is.,Territory,NaN
2629,9973,Kerguelen Is.,Territory,NaN
2631,9974,Crozet Is.,Territory,NaN
2633,9980,British Antarctic Territory,Territory,NaN
2634,9981,Palmer Antarctic Territory,Territory,NaN
2636,9982,South Orkney Is.,Territory,NaN
2639,9983,South Shetland Is.,Territory,NaN
2642,9984,South Sandwich Is.,Territory,NaN
2646,9985,Argentine Antarctica,Territory,NaN
2647,9986,Chilean Antarctica,Territory,NaN
2648,9987,Neu Schwabenland,Territory,NaN
2649,9991,Peter I I.,Territory,NaN
2650,9993,Bouvet I.,Territory,NaN

In [9]:
dfNSWE_A1 = dfNonStateWarEntities[['SideA1']]
dfNSWE_A1.rename(columns={'SideA1':'PolityName'}, inplace=True)
dfNSWE_A2 = dfNonStateWarEntities[['SideA2']]
dfNSWE_A2.rename(columns={'SideA2':'PolityName'}, inplace=True)
dfNSWE_B1 = dfNonStateWarEntities[['SideB1']]
dfNSWE_B1.rename(columns={'SideB1':'PolityName'}, inplace=True)
dfNSWE_B2 = dfNonStateWarEntities[['SideB2']]
dfNSWE_B2.rename(columns={'SideB2':'PolityName'}, inplace=True)
dfNSWE_B3 = dfNonStateWarEntities[['SideB3']]
dfNSWE_B3.rename(columns={'SideB3':'PolityName'}, inplace=True)
dfNSWE_B4 = dfNonStateWarEntities[['SideB4']]
dfNSWE_B4.rename(columns={'SideB4':'PolityName'}, inplace=True)
dfNSWE_B5 = dfNonStateWarEntities[['SideB5']]
dfNSWE_B5.rename(columns={'SideB5':'PolityName'}, inplace=True)

NSWEallsides = [dfNSWE_A1, dfNSWE_A2, dfNSWE_B1, dfNSWE_B2, dfNSWE_B3, dfNSWE_B4, dfNSWE_B5]
dfNSWEallsides = pd.concat(NSWEallsides)

dfNSWEallsides = dfNSWEallsides.replace('-8', np.NaN)
dfNSWEallsides.dropna(inplace=True)
dfNSWEallsides = dfNSWEallsides.apply(lambda x: x.str.strip() if x.dtype == "object" else x)
dfNSWEallsides.drop_duplicates(inplace=True)
dfNSWEallsides

/usr/local/anaconda3/lib/python3.6/site-packages/pandas/core/frame.py:4025: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  return super(DataFrame, self).rename(**kwargs)

                     PolityName
0      Te Rauparaha's Ngati Toa
1                    Shaka Zulu
2                         Burma
3                  Buenos Aires
4        Hongi Hika's Nga Phuhi
5                      Thailand
6                         China
7                        Mexico
8    Conservative Confederation
9                    Viang Chan
10                         Peru
11                   Unitarians
12                  Sayyid Said
15                    Argentina
16                      Bolivia
17                Boer Trekkers
18                        Chile
19                       Persia
21            Anti-Rosas Allies
22                Conservatives
23                        Jammu
24                Santo Domingo
25                       Kokand
26               Taiping rebels
27  al-Hajj Umar's Tukulor army
28                      Kashmir
29                          Han
30                        Haiti
32                    Nicaragua
34              Mbuyazi faction
..                          ...
38                      Bambara
39         Transvaal government
40                  El Salvador
41               White Settlers
44                    Colorados
45               Zibelu faction
46                        Ibadi
48                 Mahdist army
50                        Bornu
51                        Hejaz
53                       Hindus
54                     Razakars
55                     Zionists
56                  South Korea
57                        Tutsi
59                         FLNA
60                          UDT
61                        Lendu
0                     Ngai Tahu
4                    Ngati Maru
14                      Vietnam
32                     Honduras
49                      Swahili
53                        Sikhs
59                        UNITA
0                       Waikato
4           Waikato River Maori
0                     Ngati Ira
4                      Te Arawa
0                    Rangitikei

[118 rows x 1 columns]

In [10]:
dfPolityMergeNSGs = pd.merge(dfPolity, dfNSWEallsides, on=['PolityName'], how='outer')
dfPolityMergeNSGs

,PolityID,PolityName,PolityType,StateAbbr
0,0.0,League of Nations,International Organization,
1,1.0,United Nations,International Organization,
2,2.0,United States of America,State,USA
3,20.0,Canada,State,CAN
4,31.0,Bahamas,State,BHM
5,40.0,Cuba,State,CUB
6,41.0,Haiti,State,HAI
7,42.0,Dominican Republic,State,DOM
8,51.0,Jamaica,State,JAM
9,52.0,Trinidad and Tobago,State,TRI
10,53.0,Barbados,State,BAR
11,54.0,Dominica,State,DMA
12,55.0,Grenada,State,GRN
13,56.0,St. Lucia,State,SLU
14,57.0,St. Vincent and the Grenadines,State,SVG
15,58.0,Antigua & Barbuda,State,AAB
16,60.0,St. Kitts and Nevis,State,SKN
17,70.0,Mexico,State,MEX
18,80.0,Belize,State,BLZ
19,90.0,Guatemala,State,GUA
20,91.0,Honduras,State,HON
21,92.0,El Salvador,State,SAL
22,93.0,Nicaragua,State,NIC
23,94.0,Costa Rica,State,COS
24,95.0,Panama,State,PAN
25,100.0,Colombia,State,COL
26,101.0,Venezuela,State,VEN
27,110.0,Guyana,State,GUY
28,115.0,Suriname,State,SUR
29,130.0,Ecuador,State,ECU
...,...,...,...,...
1231,NaN,Yunnan Muslims,NaN,NaN
1232,NaN,Cetshwayo faction,NaN,NaN
1233,NaN,Boers,NaN,NaN
1234,NaN,Provincial armies,NaN,NaN
1235,NaN,Bambara,NaN,NaN
1236,NaN,Transvaal government,NaN,NaN
1237,NaN,White Settlers,NaN,NaN
1238,NaN,Colorados,NaN,NaN
1239,NaN,Zibelu faction,NaN,NaN
1240,NaN,Ibadi,NaN,NaN
1241,NaN,Mahdist army,NaN,NaN
1242,NaN,Bornu,NaN,NaN
1243,NaN,Hejaz,NaN,NaN
1244,NaN,Hindus,NaN,NaN
1245,NaN,Razakars,NaN,NaN
1246,NaN,Zionists,NaN,NaN
1247,NaN,Tutsi,NaN,NaN
1248,NaN,FLNA,NaN,NaN
1249,NaN,UDT,NaN,NaN
1250,NaN,Lendu,NaN,NaN
1251,NaN,Ngai Tahu,NaN,NaN
1252,NaN,Ngati Maru,NaN,NaN
1253,NaN,Swahili,NaN,NaN
1254,NaN,Sikhs,NaN,NaN
1255,NaN,UNITA,NaN,NaN
1256,NaN,Waikato,NaN,NaN
1257,NaN,Waikato River Maori,NaN,NaN
1258,NaN,Ngati Ira,NaN,NaN
1259,NaN,Te Arawa,NaN,NaN
1260,NaN,Rangitikei,NaN,NaN

In [11]:
dfISWE_A = dfIntraStateWarEntities[['CcodeA', 'SideA']]
dfISWE_A.rename(columns={'CcodeA':'PolityID', 'SideA':'PolityName'}, inplace=True)
dfISWE_B = dfIntraStateWarEntities[['CcodeB', 'SideB']]
dfISWE_B.rename(columns={'CcodeB':'PolityID', 'SideB':'PolityName'}, inplace=True)

ISWEallsides = [dfISWE_A, dfISWE_B]
dfISWEallsides = pd.concat(ISWEallsides)

dfISWEallsides = dfISWEallsides.replace('-8', np.NaN)
dfISWEallsides.dropna(subset=['PolityName'], inplace=True)
dfISWEallsides = dfISWEallsides.replace(-8, np.NaN)
dfISWEallsides = dfISWEallsides.apply(lambda x: x.str.strip() if x.dtype == "object" else x)
dfISWEallsides.drop_duplicates(inplace=True)
dfISWEallsides

/usr/local/anaconda3/lib/python3.6/site-packages/pandas/core/frame.py:4025: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  return super(DataFrame, self).rename(**kwargs)

     PolityID                         PolityName
0       365.0                             Russia
1         NaN                              Sidon
2       300.0                            Austria
3       329.0                       Two Sicilies
4       230.0                              Spain
6       325.0                           Sardinia
7       640.0                     Ottoman Empire
11        NaN                              Egypt
14      235.0                           Portugal
17      220.0                             France
18      210.0                        Netherlands
22       70.0                             Mexico
23        NaN                       Palestinians
27      200.0                     United Kingdom
29      140.0                             Brazil
35        NaN                     Egypt & Bashir
37        NaN                 Lebanese Maronites
38      100.0                           Colombia
41      160.0                          Argentina
45        NaN                          Maronites
46        NaN                             Mayans
49      101.0                          Venezuela
56      155.0                              Chile
58      135.0                               Peru
66      710.0                              China
71        2.0           United States of America
73      640.0                             Turkey
75        NaN                       Santee Sioux
76      145.0                             Boliva
85      740.0                              Japan
..        ...                                ...
387       NaN                               ADFL
388       NaN                        Hutu rebels
390       NaN                FDU (Cobra militia)
391       NaN                     Kabbah faction
392     452.0                              Ghana
396       NaN                                KLA
398       NaN                         ManÈ Junta
408       NaN                    RCD, MLC, et al
409       NaN                         MDD & MDJT
411       NaN         Ninjas and Cocoye militias
412       NaN                          FKM & RMS
413       NaN                      Muslim Fulani
415       NaN                   Oromo Lib. Front
417       NaN                               MILF
418       NaN                               RDFG
419       NaN                      FNL & FROLINA
420       NaN  Army for the Liberation of Rwanda
421       NaN                                CPN
422       NaN                       LURD & MODEL
423       NaN                               Nuer
425       NaN                   MPCI, MPIGO, MJP
426       NaN                         MILF & ASG
427       NaN                          SLA & JEM
431       NaN                      Waziri tribes
433       NaN                      Zaidi Muslims
434       NaN                         MILF & NPA
435       NaN                               FUDC
437       NaN                               SCIC
439     531.0                            Eritrea
440       NaN                               LTTE

[405 rows x 2 columns]

In [12]:
dfISWEallsides.PolityID.notnull()

0       True
1      False
2       True
3       True
4       True
6       True
7       True
11     False
14      True
17      True
18      True
22      True
23     False
27      True
29      True
35     False
37     False
38      True
41      True
45     False
46     False
49      True
56      True
58      True
66      True
71      True
73      True
75     False
76      True
85      True
       ...
387    False
388    False
390    False
391    False
392     True
396    False
398    False
408    False
409    False
411    False
412    False
413    False
415    False
417    False
418    False
419    False
420    False
421    False
422    False
423    False
425    False
426    False
427    False
431    False
433    False
434    False
435    False
437    False
439     True
440    False
Name: PolityID, Length: 405, dtype: bool

In [13]:
dfISWEallsidesNSG = dfISWEallsides[dfISWEallsides.PolityID.notnull() == False]
dfISWEallsidesNSG.drop(columns=['PolityID'], inplace=True)
dfISWEallsidesNSG

/usr/local/anaconda3/lib/python3.6/site-packages/pandas/core/frame.py:3940: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

                            PolityName
1                                Sidon
11                               Egypt
23                        Palestinians
35                      Egypt & Bashir
37                  Lebanese Maronites
45                           Maronites
46                              Mayans
75                        Santee Sioux
155                      Ukraine Poles
156                         Socialists
158                         Anhui army
162                        Blackshirts
165                        Chihli army
170                Feng Yu-Lxiang army
247                          Red Guard
262                                ELF
288                    Lebanese Forces
332                            Inkatha
351                     Garang faction
352                              Jukun
380                                PUK
412                       Laskar Jihad
413                    Christian Tarok
423                             Anyuaa
0     Georgians, Dhagestania, Chechens
1                    Damascus & Aleppo
3                             Liberals
4                            Royalists
6                            Carbonari
7                               Greeks
..                                 ...
380                                KDP
381                     Krajinia Serbs
387                               ADFL
388                        Hutu rebels
390                FDU (Cobra militia)
391                     Kabbah faction
396                                KLA
398                         ManÈ Junta
408                    RCD, MLC, et al
409                         MDD & MDJT
411         Ninjas and Cocoye militias
412                          FKM & RMS
413                      Muslim Fulani
415                   Oromo Lib. Front
417                               MILF
418                               RDFG
419                      FNL & FROLINA
420  Army for the Liberation of Rwanda
421                                CPN
422                       LURD & MODEL
423                               Nuer
425                   MPCI, MPIGO, MJP
426                         MILF & ASG
427                          SLA & JEM
431                      Waziri tribes
433                      Zaidi Muslims
434                         MILF & NPA
435                               FUDC
437                               SCIC
440                               LTTE

[285 rows x 1 columns]

In [14]:
dfPolityMergeNSGs = pd.merge(dfPolityMergeNSGs, dfISWEallsidesNSG, on=['PolityName'], how='outer')
dfPolityMergeNSGs

,PolityID,PolityName,PolityType,StateAbbr
0,0.0,League of Nations,International Organization,
1,1.0,United Nations,International Organization,
2,2.0,United States of America,State,USA
3,20.0,Canada,State,CAN
4,31.0,Bahamas,State,BHM
5,40.0,Cuba,State,CUB
6,41.0,Haiti,State,HAI
7,42.0,Dominican Republic,State,DOM
8,51.0,Jamaica,State,JAM
9,52.0,Trinidad and Tobago,State,TRI
10,53.0,Barbados,State,BAR
11,54.0,Dominica,State,DMA
12,55.0,Grenada,State,GRN
13,56.0,St. Lucia,State,SLU
14,57.0,St. Vincent and the Grenadines,State,SVG
15,58.0,Antigua & Barbuda,State,AAB
16,60.0,St. Kitts and Nevis,State,SKN
17,70.0,Mexico,State,MEX
18,80.0,Belize,State,BLZ
19,90.0,Guatemala,State,GUA
20,91.0,Honduras,State,HON
21,92.0,El Salvador,State,SAL
22,93.0,Nicaragua,State,NIC
23,94.0,Costa Rica,State,COS
24,95.0,Panama,State,PAN
25,100.0,Colombia,State,COL
26,101.0,Venezuela,State,VEN
27,110.0,Guyana,State,GUY
28,115.0,Suriname,State,SUR
29,130.0,Ecuador,State,ECU
...,...,...,...,...
1497,NaN,KDP,NaN,NaN
1498,NaN,Krajinia Serbs,NaN,NaN
1499,NaN,ADFL,NaN,NaN
1500,NaN,Hutu rebels,NaN,NaN
1501,NaN,FDU (Cobra militia),NaN,NaN
1502,NaN,Kabbah faction,NaN,NaN
1503,NaN,KLA,NaN,NaN
1504,NaN,ManÈ Junta,NaN,NaN
1505,NaN,"RCD, MLC, et al",NaN,NaN
1506,NaN,MDD & MDJT,NaN,NaN
1507,NaN,Ninjas and Cocoye militias,NaN,NaN
1508,NaN,FKM & RMS,NaN,NaN
1509,NaN,Muslim Fulani,NaN,NaN
1510,NaN,Oromo Lib. Front,NaN,NaN
1511,NaN,MILF,NaN,NaN
1512,NaN,RDFG,NaN,NaN
1513,NaN,FNL & FROLINA,NaN,NaN
1514,NaN,Army for the Liberation of Rwanda,NaN,NaN
1515,NaN,CPN,NaN,NaN
1516,NaN,LURD & MODEL,NaN,NaN
1517,NaN,Nuer,NaN,NaN
1518,NaN,"MPCI, MPIGO, MJP",NaN,NaN
1519,NaN,MILF & ASG,NaN,NaN
1520,NaN,SLA & JEM,NaN,NaN
1521,NaN,Waziri tribes,NaN,NaN
1522,NaN,Zaidi Muslims,NaN,NaN
1523,NaN,MILF & NPA,NaN,NaN
1524,NaN,FUDC,NaN,NaN
1525,NaN,SCIC,NaN,NaN
1526,NaN,LTTE,NaN,NaN

In [15]:
dfPolityMergeNSGs['PolityName'].value_counts()

Georgia                 2
Christmas I.            2
Montenegro              2
Vietnam                 2
Samoa                   2
Benin                   2
Tonkin                  1
Audhali                 1
Bengalis                1
Danzig                  1
Bamangwato              1
Namibia                 1
Kazakhstan              1
MNLF Moros              1
Shining Path & TARM     1
Corrientes              1
Lauenburg               1
Kurds, PKK              1
Burma                   1
Vumbu Kuu               1
Turkmenistan            1
Amb                     1
Idar                    1
Mong Mit                1
Zaidi Imam              1
Santee Sioux            1
Ha'apai                 1
Alula (Mijerteyn)       1
Inkatha                 1
Pangtara                1
                       ..
South Hsen Wi           1
Rewa                    1
Diaoyu (Senkaku) Is.    1
Malawi                  1
White Settlers          1
Thailand                1
Hejaz Sultanate         1
Bijapur                 1
Paraguay                1
Fiji                    1
Dewas                   1
Buraimi Neutral Zone    1
Wahidi                  1
MILF & ASG              1
Uganda                  1
OPR, West Papua         1
States of America       1
South Georgia           1
Tokolor Empire          1
Albanians               1
Nevis                   1
Yunnan Muslims          1
Gaza                    1
Liberals                1
Monaco                  1
Lagos                   1
Hehe                    1
Rip                     1
Damoh                   1
Kiribati                1
Name: PolityName, Length: 1521, dtype: int64

In [16]:
#dfPolityMergeNSGs.loc[dfPolityMergeNSGs['PolityName'] == 'Montenegro']

In [17]:
dfExtraStateWarEntities

     ccode1              SideA  ccode2                           SideB
0       210        Netherlands      -8                              -8
1       200     United Kingdom      -8                         Algeria
2       640     Ottoman Empire      -8                  Saudi Wahhabis
3       230              Spain      -8      San Martin revolutionaries
4       230              Spain      -8                     New Granada
5       230              Spain      -8                 Mina Expedition
6       200     United Kingdom      -8                  Kandyan rebels
7       200     United Kingdom      -8                        Marathas
8       640     Ottoman Empire      -8                    Sudan states
9       230              Spain      -8                     New Granada
10      640     Ottoman Empire      -8                          Persia
11      200     United Kingdom      -8                           Burma
12      200     United Kingdom      -8                   Ashanti-Ghana
13      230              Spain      -8  Latin American revolutionaries
14      210        Netherlands      -8                 Javanese rebels
15      200     United Kingdom      -8              Bharatpuran rebels
16      140             Brazil      -8                       Argentina
17      365             Russia      -8                          Persia
18      230              Spain      -8                          Mexico
19      220             France      -8                         Algeria
20      640     Ottoman Empire      -8                    Bilmez-Asiri
21      200     United Kingdom      -8                      Zulu tribe
22      200     United Kingdom      -8                     Afghanistan
23      200     United Kingdom      -8                           China
24      220             France      -8                 Algerian forces
25      135               Peru      -8                         Bolivia
26      200     United Kingdom      -8                            Sind
27      160          Argentina      -8                         Uruguay
28       -8                 -8     200                  United Kingdom
29       -8                 -8     220                          France
..      ...                ...     ...                             ...
168     235           Portugal      -8                      Mozambique
169     850          Indonesia      -8                  Fretilin & UDT
170     560       South Africa      -8                   SWAPO-Namibia
171     600            Morocco      -8                       Polisario
172      -8                 -8     615                         Algeria
173     435         Mauritania      -8                              -8
174     816            Vietnam      -8                     Khmer Rouge
175     811           Cambodia      -8                              -8
176     365               USSR      -8                       Muhajadin
177     700        Afghanistan      -8                              -8
178     640             Turkey      -8                     PKK in Iraq
179     640             Turkey      -8                     PKK in Iraq
180     666             Israel      -8                    Palestinians
181     220             France      -8                              -8
182     900          Australia      -8                              -8
183     255            Germany      -8                              -8
184     200     United Kingdom      -8                              -8
185      20             Canada      -8                              -8
186       2      United States      -8              al-Qaeda & Taliban
187     700        Afghanistan      -8                              -8
188     900          Australia      -8                              -8
189       2      United States      -8     al-Qaeda & Iraqi resistence
190     200     United Kingdom      -8                              -8
191     210        Netherlands      -8                              -8
192     230              Spain      -8                              -8
193     290             Poland      -8                              -8
194     325              Italy      -8                              -8
195     369            Ukraine      -8                              -8
196     645               Iraq      -8                              -8
197     732  Republic of Korea      -8                              -8

[198 rows x 4 columns]

In [18]:
dfESWE_A = dfExtraStateWarEntities[['ccode1', 'SideA']]
dfESWE_A.rename(columns={'ccode1':'PolityID', 'SideA':'PolityName'}, inplace=True)
dfESWE_B = dfExtraStateWarEntities[['ccode2', 'SideB']]
dfESWE_B.rename(columns={'ccode2':'PolityID', 'SideB':'PolityName'}, inplace=True)

ESWEallsides = [dfESWE_A, dfESWE_B]
dfESWEallsides = pd.concat(ESWEallsides)

dfESWEallsides = dfESWEallsides.replace('-8', np.NaN)
dfESWEallsides.dropna(subset=['PolityName'], inplace=True)
dfESWEallsides = dfESWEallsides.replace(-8, np.NaN)
dfESWEallsides = dfESWEallsides.apply(lambda x: x.str.strip() if x.dtype == "object" else x)
dfESWEallsides.drop_duplicates(inplace=True)
dfESWEallsides

/usr/local/anaconda3/lib/python3.6/site-packages/pandas/core/frame.py:4025: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  return super(DataFrame, self).rename(**kwargs)

     PolityID                               PolityName
0       210.0                              Netherlands
1       200.0                           United Kingdom
2       640.0                           Ottoman Empire
3       230.0                                    Spain
16      140.0                                   Brazil
17      365.0                                   Russia
19      220.0                                   France
25      135.0                                     Peru
27      160.0                                Argentina
34      255.0                                  Prussia
35      300.0                                  Austria
41      640.0              Turkey/Ottoman Empire/Egypt
53      329.0                             Two Sicilies
56        2.0                            United States
66      651.0                                    Egypt
78      300.0                          Austria-Hungary
92      345.0                                   Serbia
93      325.0                                    Italy
94      235.0                                 Portugal
98      211.0                                  Belgium
106     740.0                                    Japan
114       2.0                 United States of America
119     530.0                                 Ethiopia
123     255.0                                  Germany
134     710.0                                    China
144     365.0                                     USSR
160     750.0                                    India
169     850.0                                Indonesia
170     560.0                             South Africa
171     600.0                                  Morocco
..        ...                                      ...
141       NaN                               Waziristan
142       NaN                                  Syrians
143       NaN                                     Iraq
145       NaN  Baron von Ungern-Sternbergís White army
146       NaN                             Sanusi tribe
148       NaN                                    Riffs
149       NaN                           Muslim Moplahs
150       NaN                                    Druze
151       NaN                  Vietnamese Nationalists
152       NaN                           Peasant Rebels
153       NaN                             Palestinians
154       NaN                            Pathan tribes
156       NaN                                Indonesia
157       NaN                                 Vietminh
158       NaN                               Madagascar
159       NaN                       Malayan Communists
160       NaN                                Hyderabad
163       NaN                                  Mau Mau
166       NaN                                      UPC
167       NaN                                   Angola
168       NaN                               Mozambique
169       NaN                           Fretilin & UDT
170       NaN                            SWAPO-Namibia
171       NaN                                Polisario
172     615.0                                  Algeria
174       NaN                              Khmer Rouge
176       NaN                                Muhajadin
178       NaN                              PKK in Iraq
186       NaN                       al-Qaeda & Taliban
189       NaN              al-Qaeda & Iraqi resistence

[171 rows x 2 columns]

In [19]:
dfESWEallsides.PolityID.notnull()

0       True
1       True
2       True
3       True
16      True
17      True
19      True
25      True
27      True
34      True
35      True
41      True
53      True
56      True
66      True
78      True
92      True
93      True
94      True
98      True
106     True
114     True
119     True
123     True
134     True
144     True
160     True
169     True
170     True
171     True
       ...
141    False
142    False
143    False
145    False
146    False
148    False
149    False
150    False
151    False
152    False
153    False
154    False
156    False
157    False
158    False
159    False
160    False
163    False
166    False
167    False
168    False
169    False
170    False
171    False
172     True
174    False
176    False
178    False
186    False
189    False
Name: PolityID, Length: 171, dtype: bool

In [20]:
dfESWEallsides = dfESWEallsides[dfESWEallsides.PolityID.notnull() == False]
dfESWEallsides.drop(columns=['PolityID'], inplace=True)
dfESWEallsides

/usr/local/anaconda3/lib/python3.6/site-packages/pandas/core/frame.py:3940: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

                                  PolityName
1                                    Algeria
2                             Saudi Wahhabis
3                 San Martin revolutionaries
4                                New Granada
5                            Mina Expedition
6                             Kandyan rebels
7                                   Marathas
8                               Sudan states
10                                    Persia
11                                     Burma
12                             Ashanti-Ghana
13            Latin American revolutionaries
14                           Javanese rebels
15                        Bharatpuran rebels
16                                 Argentina
18                                    Mexico
20                              Bilmez-Asiri
21                                Zulu tribe
22                               Afghanistan
23                                     China
24                           Algerian forces
25                                   Bolivia
26                                      Sind
27                                   Uruguay
30                                   Gwalior
31                                   Morocco
32                                     Sikhs
35                                    Cracow
36                                     Khosa
37                                      Bali
..                                       ...
139                              Caco Rebels
141                               Waziristan
142                                  Syrians
143                                     Iraq
145  Baron von Ungern-Sternbergís White army
146                             Sanusi tribe
148                                    Riffs
149                           Muslim Moplahs
150                                    Druze
151                  Vietnamese Nationalists
152                           Peasant Rebels
153                             Palestinians
154                            Pathan tribes
156                                Indonesia
157                                 Vietminh
158                               Madagascar
159                       Malayan Communists
160                                Hyderabad
163                                  Mau Mau
166                                      UPC
167                                   Angola
168                               Mozambique
169                           Fretilin & UDT
170                            SWAPO-Namibia
171                                Polisario
174                              Khmer Rouge
176                                Muhajadin
178                              PKK in Iraq
186                       al-Qaeda & Taliban
189              al-Qaeda & Iraqi resistence

[128 rows x 1 columns]

In [21]:
dfPolityMergeNSGs = pd.merge(dfPolityMergeNSGs, dfESWEallsides, on=['PolityName'], how='outer')
dfPolityMergeNSGs

,PolityID,PolityName,PolityType,StateAbbr
0,0.0,League of Nations,International Organization,
1,1.0,United Nations,International Organization,
2,2.0,United States of America,State,USA
3,20.0,Canada,State,CAN
4,31.0,Bahamas,State,BHM
5,40.0,Cuba,State,CUB
6,41.0,Haiti,State,HAI
7,42.0,Dominican Republic,State,DOM
8,51.0,Jamaica,State,JAM
9,52.0,Trinidad and Tobago,State,TRI
10,53.0,Barbados,State,BAR
11,54.0,Dominica,State,DMA
12,55.0,Grenada,State,GRN
13,56.0,St. Lucia,State,SLU
14,57.0,St. Vincent and the Grenadines,State,SVG
15,58.0,Antigua & Barbuda,State,AAB
16,60.0,St. Kitts and Nevis,State,SKN
17,70.0,Mexico,State,MEX
18,80.0,Belize,State,BLZ
19,90.0,Guatemala,State,GUA
20,91.0,Honduras,State,HON
21,92.0,El Salvador,State,SAL
22,93.0,Nicaragua,State,NIC
23,94.0,Costa Rica,State,COS
24,95.0,Panama,State,PAN
25,100.0,Colombia,State,COL
26,101.0,Venezuela,State,VEN
27,110.0,Guyana,State,GUY
28,115.0,Suriname,State,SUR
29,130.0,Ecuador,State,ECU
...,...,...,...,...
1582,NaN,Kano & Sokoto,NaN,NaN
1583,NaN,Herero & Nama,NaN,NaN
1584,NaN,Maji-Maji in Tanganyika,NaN,NaN
1585,NaN,Mahdist rebels,NaN,NaN
1586,NaN,Dembos,NaN,NaN
1587,NaN,Sheikh Ma Al-Ainie,NaN,NaN
1588,NaN,Wadai sultanate,NaN,NaN
1589,NaN,Berbers,NaN,NaN
1590,NaN,Moro,NaN,NaN
1591,NaN,Caco Rebels,NaN,NaN
1592,NaN,Waziristan,NaN,NaN
1593,NaN,Syrians,NaN,NaN
1594,NaN,Baron von Ungern-Sternbergís White army,NaN,NaN
1595,NaN,Sanusi tribe,NaN,NaN
1596,NaN,Riffs,NaN,NaN
1597,NaN,Muslim Moplahs,NaN,NaN
1598,NaN,Vietnamese Nationalists,NaN,NaN
1599,NaN,Peasant Rebels,NaN,NaN
1600,NaN,Pathan tribes,NaN,NaN
1601,NaN,Vietminh,NaN,NaN
1602,NaN,Malayan Communists,NaN,NaN
1603,NaN,Mau Mau,NaN,NaN
1604,NaN,UPC,NaN,NaN
1605,NaN,Fretilin & UDT,NaN,NaN
1606,NaN,SWAPO-Namibia,NaN,NaN
1607,NaN,Polisario,NaN,NaN
1608,NaN,Muhajadin,NaN,NaN
1609,NaN,PKK in Iraq,NaN,NaN
1610,NaN,al-Qaeda & Taliban,NaN,NaN
1611,NaN,al-Qaeda & Iraqi resistence,NaN,NaN

In [22]:
dfPolityMergeNSGs['PolityType'].fillna(value='NonState Group', inplace=True)
dfPolityMergeNSGs

,PolityID,PolityName,PolityType,StateAbbr
0,0.0,League of Nations,International Organization,
1,1.0,United Nations,International Organization,
2,2.0,United States of America,State,USA
3,20.0,Canada,State,CAN
4,31.0,Bahamas,State,BHM
5,40.0,Cuba,State,CUB
6,41.0,Haiti,State,HAI
7,42.0,Dominican Republic,State,DOM
8,51.0,Jamaica,State,JAM
9,52.0,Trinidad and Tobago,State,TRI
10,53.0,Barbados,State,BAR
11,54.0,Dominica,State,DMA
12,55.0,Grenada,State,GRN
13,56.0,St. Lucia,State,SLU
14,57.0,St. Vincent and the Grenadines,State,SVG
15,58.0,Antigua & Barbuda,State,AAB
16,60.0,St. Kitts and Nevis,State,SKN
17,70.0,Mexico,State,MEX
18,80.0,Belize,State,BLZ
19,90.0,Guatemala,State,GUA
20,91.0,Honduras,State,HON
21,92.0,El Salvador,State,SAL
22,93.0,Nicaragua,State,NIC
23,94.0,Costa Rica,State,COS
24,95.0,Panama,State,PAN
25,100.0,Colombia,State,COL
26,101.0,Venezuela,State,VEN
27,110.0,Guyana,State,GUY
28,115.0,Suriname,State,SUR
29,130.0,Ecuador,State,ECU
...,...,...,...,...
1582,NaN,Kano & Sokoto,NonState Group,NaN
1583,NaN,Herero & Nama,NonState Group,NaN
1584,NaN,Maji-Maji in Tanganyika,NonState Group,NaN
1585,NaN,Mahdist rebels,NonState Group,NaN
1586,NaN,Dembos,NonState Group,NaN
1587,NaN,Sheikh Ma Al-Ainie,NonState Group,NaN
1588,NaN,Wadai sultanate,NonState Group,NaN
1589,NaN,Berbers,NonState Group,NaN
1590,NaN,Moro,NonState Group,NaN
1591,NaN,Caco Rebels,NonState Group,NaN
1592,NaN,Waziristan,NonState Group,NaN
1593,NaN,Syrians,NonState Group,NaN
1594,NaN,Baron von Ungern-Sternbergís White army,NonState Group,NaN
1595,NaN,Sanusi tribe,NonState Group,NaN
1596,NaN,Riffs,NonState Group,NaN
1597,NaN,Muslim Moplahs,NonState Group,NaN
1598,NaN,Vietnamese Nationalists,NonState Group,NaN
1599,NaN,Peasant Rebels,NonState Group,NaN
1600,NaN,Pathan tribes,NonState Group,NaN
1601,NaN,Vietminh,NonState Group,NaN
1602,NaN,Malayan Communists,NonState Group,NaN
1603,NaN,Mau Mau,NonState Group,NaN
1604,NaN,UPC,NonState Group,NaN
1605,NaN,Fretilin & UDT,NonState Group,NaN
1606,NaN,SWAPO-Namibia,NonState Group,NaN
1607,NaN,Polisario,NonState Group,NaN
1608,NaN,Muhajadin,NonState Group,NaN
1609,NaN,PKK in Iraq,NonState Group,NaN
1610,NaN,al-Qaeda & Taliban,NonState Group,NaN
1611,NaN,al-Qaeda & Iraqi resistence,NonState Group,NaN

In [23]:
#dfPolityMergeNSGs[dfPolityMergeNSGs['PolityType'] == 'NonState Group']

In [24]:
non_state_groups = dfPolityMergeNSGs[dfPolityMergeNSGs['PolityType'] == 'NonState Group']

start = 10000
ids = np.arange(start, start+non_state_groups.shape[0])

array([10000, 10001, 10002, 10003, 10004, 10005, 10006, 10007, 10008,
       10009, 10010, 10011, 10012, 10013, 10014, 10015, 10016, 10017,
       10018, 10019, 10020, 10021, 10022, 10023, 10024, 10025, 10026,
       10027, 10028, 10029, 10030, 10031, 10032, 10033, 10034, 10035,
       10036, 10037, 10038, 10039, 10040, 10041, 10042, 10043, 10044,
       10045, 10046, 10047, 10048, 10049, 10050, 10051, 10052, 10053,
       10054, 10055, 10056, 10057, 10058, 10059, 10060, 10061, 10062,
       10063, 10064, 10065, 10066, 10067, 10068, 10069, 10070, 10071,
       10072, 10073, 10074, 10075, 10076, 10077, 10078, 10079, 10080,
       10081, 10082, 10083, 10084, 10085, 10086, 10087, 10088, 10089,
       10090, 10091, 10092, 10093, 10094, 10095, 10096, 10097, 10098,
       10099, 10100, 10101, 10102, 10103, 10104, 10105, 10106, 10107,
       10108, 10109, 10110, 10111, 10112, 10113, 10114, 10115, 10116,
       10117, 10118, 10119, 10120, 10121, 10122, 10123, 10124, 10125,
       10126, 10127, 10128, 10129, 10130, 10131, 10132, 10133, 10134,
       10135, 10136, 10137, 10138, 10139, 10140, 10141, 10142, 10143,
       10144, 10145, 10146, 10147, 10148, 10149, 10150, 10151, 10152,
       10153, 10154, 10155, 10156, 10157, 10158, 10159, 10160, 10161,
       10162, 10163, 10164, 10165, 10166, 10167, 10168, 10169, 10170,
       10171, 10172, 10173, 10174, 10175, 10176, 10177, 10178, 10179,
       10180, 10181, 10182, 10183, 10184, 10185, 10186, 10187, 10188,
       10189, 10190, 10191, 10192, 10193, 10194, 10195, 10196, 10197,
       10198, 10199, 10200, 10201, 10202, 10203, 10204, 10205, 10206,
       10207, 10208, 10209, 10210, 10211, 10212, 10213, 10214, 10215,
       10216, 10217, 10218, 10219, 10220, 10221, 10222, 10223, 10224,
       10225, 10226, 10227, 10228, 10229, 10230, 10231, 10232, 10233,
       10234, 10235, 10236, 10237, 10238, 10239, 10240, 10241, 10242,
       10243, 10244, 10245, 10246, 10247, 10248, 10249, 10250, 10251,
       10252, 10253, 10254, 10255, 10256, 10257, 10258, 10259, 10260,
       10261, 10262, 10263, 10264, 10265, 10266, 10267, 10268, 10269,
       10270, 10271, 10272, 10273, 10274, 10275, 10276, 10277, 10278,
       10279, 10280, 10281, 10282, 10283, 10284, 10285, 10286, 10287,
       10288, 10289, 10290, 10291, 10292, 10293, 10294, 10295, 10296,
       10297, 10298, 10299, 10300, 10301, 10302, 10303, 10304, 10305,
       10306, 10307, 10308, 10309, 10310, 10311, 10312, 10313, 10314,
       10315, 10316, 10317, 10318, 10319, 10320, 10321, 10322, 10323,
       10324, 10325, 10326, 10327, 10328, 10329, 10330, 10331, 10332,
       10333, 10334, 10335, 10336, 10337, 10338, 10339, 10340, 10341,
       10342, 10343, 10344, 10345, 10346, 10347, 10348, 10349, 10350,
       10351, 10352, 10353, 10354, 10355, 10356, 10357, 10358, 10359,
       10360, 10361, 10362, 10363, 10364, 10365, 10366, 10367, 10368,
       10369, 10370, 10371, 10372, 10373, 10374, 10375, 10376, 10377,
       10378, 10379, 10380, 10381, 10382, 10383, 10384, 10385, 10386,
       10387, 10388, 10389, 10390, 10391, 10392, 10393, 10394, 10395,
       10396, 10397, 10398, 10399, 10400, 10401, 10402, 10403, 10404,
       10405, 10406, 10407, 10408, 10409, 10410, 10411, 10412, 10413,
       10414, 10415, 10416, 10417, 10418, 10419, 10420, 10421, 10422,
       10423, 10424, 10425, 10426, 10427, 10428, 10429, 10430, 10431,
       10432, 10433, 10434, 10435, 10436, 10437, 10438, 10439, 10440,
       10441, 10442])

In [25]:
dfPolityMergeNSGs.loc[dfPolityMergeNSGs['PolityType'] == 'NonState Group', 'PolityID'] = ids

In [26]:
dfPolityMergeNSGs

,PolityID,PolityName,PolityType,StateAbbr
0,0.0,League of Nations,International Organization,
1,1.0,United Nations,International Organization,
2,2.0,United States of America,State,USA
3,20.0,Canada,State,CAN
4,31.0,Bahamas,State,BHM
5,40.0,Cuba,State,CUB
6,41.0,Haiti,State,HAI
7,42.0,Dominican Republic,State,DOM
8,51.0,Jamaica,State,JAM
9,52.0,Trinidad and Tobago,State,TRI
10,53.0,Barbados,State,BAR
11,54.0,Dominica,State,DMA
12,55.0,Grenada,State,GRN
13,56.0,St. Lucia,State,SLU
14,57.0,St. Vincent and the Grenadines,State,SVG
15,58.0,Antigua & Barbuda,State,AAB
16,60.0,St. Kitts and Nevis,State,SKN
17,70.0,Mexico,State,MEX
18,80.0,Belize,State,BLZ
19,90.0,Guatemala,State,GUA
20,91.0,Honduras,State,HON
21,92.0,El Salvador,State,SAL
22,93.0,Nicaragua,State,NIC
23,94.0,Costa Rica,State,COS
24,95.0,Panama,State,PAN
25,100.0,Colombia,State,COL
26,101.0,Venezuela,State,VEN
27,110.0,Guyana,State,GUY
28,115.0,Suriname,State,SUR
29,130.0,Ecuador,State,ECU
...,...,...,...,...
1582,10413.0,Kano & Sokoto,NonState Group,NaN
1583,10414.0,Herero & Nama,NonState Group,NaN
1584,10415.0,Maji-Maji in Tanganyika,NonState Group,NaN
1585,10416.0,Mahdist rebels,NonState Group,NaN
1586,10417.0,Dembos,NonState Group,NaN
1587,10418.0,Sheikh Ma Al-Ainie,NonState Group,NaN
1588,10419.0,Wadai sultanate,NonState Group,NaN
1589,10420.0,Berbers,NonState Group,NaN
1590,10421.0,Moro,NonState Group,NaN
1591,10422.0,Caco Rebels,NonState Group,NaN
1592,10423.0,Waziristan,NonState Group,NaN
1593,10424.0,Syrians,NonState Group,NaN
1594,10425.0,Baron von Ungern-Sternbergís White army,NonState Group,NaN
1595,10426.0,Sanusi tribe,NonState Group,NaN
1596,10427.0,Riffs,NonState Group,NaN
1597,10428.0,Muslim Moplahs,NonState Group,NaN
1598,10429.0,Vietnamese Nationalists,NonState Group,NaN
1599,10430.0,Peasant Rebels,NonState Group,NaN
1600,10431.0,Pathan tribes,NonState Group,NaN
1601,10432.0,Vietminh,NonState Group,NaN
1602,10433.0,Malayan Communists,NonState Group,NaN
1603,10434.0,Mau Mau,NonState Group,NaN
1604,10435.0,UPC,NonState Group,NaN
1605,10436.0,Fretilin & UDT,NonState Group,NaN
1606,10437.0,SWAPO-Namibia,NonState Group,NaN
1607,10438.0,Polisario,NonState Group,NaN
1608,10439.0,Muhajadin,NonState Group,NaN
1609,10440.0,PKK in Iraq,NonState Group,NaN
1610,10441.0,al-Qaeda & Taliban,NonState Group,NaN
1611,10442.0,al-Qaeda & Iraqi resistence,NonState Group,NaN

In [27]:
dfPolityMergeNSGs.to_csv('../FinalData/polity.csv', encoding='utf-8', index=False)

## Create 'STATE_DATES' table

Task: transform 'states2016.csv' (saved as 'dfStates') into a table with attributes:

- StateID
- StartDate
- EndDate
- StartYear
- StartMonth
- StartDay
- EndYear
- EndMonth
- EndDay

in which each combination of StateID and StartDate occurs only once.

Note: StartDate and EndDate must be in the format 'YYYY-MM-DD'

In [28]:
dfStateDates = dfStates[['ccode', 'styear', 'stmonth', 'stday', 'endyear', 'endmonth', 'endday']]
dfStateDates.rename(columns={"ccode":"StateID", "styear": "StartYear", "stmonth":"StartMonth", "stday":"StartDay", "endyear": "EndYear", "endmonth":"EndMonth", "endday":"EndDay"}, inplace=True)

dfStateDates['StartDate'] = pd.to_datetime(dict(year=dfStateDates.StartYear, month=dfStateDates.StartMonth, day=dfStateDates.StartDay))
dfStateDates['EndDate'] = pd.to_datetime(dict(year=dfStateDates.EndYear, month=dfStateDates.EndMonth, day=dfStateDates.EndDay))

dfStateDates = dfStateDates[['StateID', 'StartDate', 'EndDate', 'StartYear', 'StartMonth', 'StartDay', 'EndYear', 'EndMonth', 'EndDay']]

dfStateDates['StartDate'] = dfStateDates['StartDate'].apply(lambda x: x.strftime('%Y-%m-%d'))
dfStateDates['EndDate'] = dfStateDates['EndDate'].apply(lambda x: x.strftime('%Y-%m-%d'))

dfStateDates['EndDate'] = dfStateDates['EndDate'].replace('2016-12-31', '')
dfStateDates

/usr/local/anaconda3/lib/python3.6/site-packages/pandas/core/frame.py:4025: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  return super(DataFrame, self).rename(**kwargs)
/usr/local/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
/usr/local/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

,StateID,StartDate,EndDate,StartYear,StartMonth,StartDay,EndYear,EndMonth,EndDay
0,2,1816-01-01,,1816,1,1,2016,12,31
1,20,1920-01-10,,1920,1,10,2016,12,31
2,31,1973-07-10,,1973,7,10,2016,12,31
3,40,1902-05-20,1906-09-25,1902,5,20,1906,9,25
4,40,1909-01-23,,1909,1,23,2016,12,31
5,41,1859-01-01,1915-07-28,1859,1,1,1915,7,28
6,41,1934-08-15,,1934,8,15,2016,12,31
7,42,1894-01-01,1916-11-29,1894,1,1,1916,11,29
8,42,1924-09-29,,1924,9,29,2016,12,31
9,51,1962-08-06,,1962,8,6,2016,12,31
10,52,1962-08-31,,1962,8,31,2016,12,31
11,53,1966-11-30,,1966,11,30,2016,12,31
12,54,1978-11-03,,1978,11,3,2016,12,31
13,55,1974-02-07,,1974,2,7,2016,12,31
14,56,1979-02-22,,1979,2,22,2016,12,31
15,57,1979-10-27,,1979,10,27,2016,12,31
16,58,1981-11-01,,1981,11,1,2016,12,31
17,60,1983-09-19,,1983,9,19,2016,12,31
18,70,1831-01-01,,1831,1,1,2016,12,31
19,80,1981-09-21,,1981,9,21,2016,12,31
20,90,1868-01-01,,1868,1,1,2016,12,31
21,91,1899-01-01,,1899,1,1,2016,12,31
22,92,1875-01-01,,1875,1,1,2016,12,31
23,93,1900-01-01,,1900,1,1,2016,12,31
24,94,1920-01-01,,1920,1,1,2016,12,31
25,95,1903-11-03,,1903,11,3,2016,12,31
26,100,1831-01-01,,1831,1,1,2016,12,31
27,101,1841-01-01,,1841,1,1,2016,12,31
28,110,1966-05-26,,1966,5,26,2016,12,31
29,115,1975-11-25,,1975,11,25,2016,12,31
...,...,...,...,...,...,...,...,...,...
213,771,1971-12-16,,1971,12,16,2016,12,31
214,775,1948-01-04,,1948,1,4,2016,12,31
215,780,1948-02-04,,1948,2,4,2016,12,31
216,781,1965-07-26,,1965,7,26,2016,12,31
217,790,1920-01-01,,1920,1,1,2016,12,31
218,800,1887-01-01,,1887,1,1,2016,12,31
219,811,1953-11-09,,1953,11,9,2016,12,31
220,812,1953-10-23,,1953,10,23,2016,12,31
221,816,1954-07-21,,1954,7,21,2016,12,31
222,817,1954-06-04,1975-04-30,1954,6,4,1975,4,30
223,820,1957-08-31,,1957,8,31,2016,12,31
224,830,1965-08-09,,1965,8,9,2016,12,31
225,835,1984-01-01,,1984,1,1,2016,12,31
226,840,1946-07-04,,1946,7,4,2016,12,31
227,850,1949-12-27,,1949,12,27,2016,12,31
228,860,2002-09-27,,2002,9,27,2016,12,31
229,900,1920-01-10,,1920,1,10,2016,12,31
230,910,1975-09-16,,1975,9,16,2016,12,31
231,920,1920-01-10,,1920,1,10,2016,12,31
232,935,1981-09-15,,1981,9,15,2016,12,31
233,940,1978-07-07,,1978,7,7,2016,12,31
234,946,1999-09-14,,1999,9,14,2016,12,31
235,947,2000-09-05,,2000,9,5,2016,12,31
236,950,1970-10-10,,1970,10,10,2016,12,31
237,955,1999-09-14,,1999,9,14,2016,12,31
238,970,1999-09-14,,1999,9,14,2016,12,31
239,983,1991-09-17,,1991,9,17,2016,12,31
240,986,1994-12-15,,1994,12,15,2016,12,31
241,987,1991-09-17,,1991,9,17,2016,12,31
242,990,1976-12-15,,1976,12,15,2016,12,31

In [29]:
dfStateDates.to_csv('../FinalData/state_dates.csv', encoding='utf-8', index=False)

## Create 'TERRITORY_DATES' table

Task: transform 'Territories.csv' (saved as 'dfTerritories') into a table with the following attributes:

- TerritoryID
- StartYear
- EndYear
- EndingStatus

In [30]:
dfTerritories

,Entity Number,Name,Begin Year,End Year,Ending Political Status
0,3,Alaska,1816.0,1867.0,Became colony of 365
1,3,Alaska,1867.0,1959.0,Became colony of 2
2,3,Alaska,1959.0,1993.0,Became part of 2
3,4,Hawaii,1898.0,1960.0,Became colony of 2
4,4,Hawaii,1960.0,1993.0,Became part of 2
5,5,Virgin Islands,1816.0,1917.0,Became colony of 390
6,5,Virgin Islands,1917.0,1993.0,Became colony of 2
7,6,Puerto Rico,1816.0,1821.0,Became part of 1070
8,6,Puerto Rico,1821.0,1898.0,Became colony of 230
9,6,Puerto Rico,1898.0,1952.0,Became colony of 2
10,7,Texas,1816.0,1836.0,Became part of 70
11,7,Texas,1845.0,1861.0,Became part of 2
12,7,Texas,1861.0,1865.0,Became part of 1002
13,7,Texas,1865.0,1993.0,Became part of 2
14,10,Greenland,1816.0,1953.0,Became colony of 390
15,10,Greenland,1941.0,1945.0,Occupied by 2
16,11,Faeroe Is.,1816.0,1947.0,Became colony of 390
17,11,Faeroe Is.,1940.0,1945.0,Occupied by 200
18,20,Canada,1816.0,1841.0,Became part of 1025
19,20,Canada,1841.0,1919.0,Became colony of 200
20,21,Newfoundland,1816.0,1920.0,Became colony of 200
21,21,Newfoundland,1933.0,1949.0,Became colony of 200
22,21,Newfoundland,1949.0,1993.0,Became part of 20
23,30,Bermuda,1816.0,1993.0,Became colony of 200
24,31,Bahamas,1816.0,1973.0,Became colony of 200
25,40,Cuba,1816.0,1821.0,Became part of 1070
26,40,Cuba,1816.0,1898.0,Became colony of 230
27,40,Cuba,1898.0,1902.0,Occupied by 2
28,40,Cuba,1906.0,1909.0,Occupied by 2
29,41,Haiti,1915.0,1934.0,Occupied by 2
...,...,...,...,...,...
2621,9900,Samoa,1889.0,1900.0,Became protectorate of 2
2622,9900,Samoa,1900.0,1993.0,Became part of 990
2623,9960,Australian Antarctic Territory,1933.0,1993.0,Claimed by 900
2624,9970,French and Southern Antarctic Territories (F.S...,1955.0,1993.0,Became possession of 220
2625,9971,Adelie Land,1840.0,1955.0,Claimed by 220
2626,9971,Adelie Land,1955.0,1993.0,Became part of 9970
2627,9972,St. Paul and New Amsterdam Is.,1843.0,1955.0,Became possession of 220
2628,9972,St. Paul and New Amsterdam Is.,1955.0,1993.0,Became part of 9970
2629,9973,Kerguelen Is.,1893.0,1955.0,Became possession of 220
2630,9973,Kerguelen Is.,1955.0,1993.0,Became part of 9970
2631,9974,Crozet Is.,1816.0,1955.0,Became possession of 220
2632,9974,Crozet Is.,1955.0,1993.0,Became part of 9970
2633,9980,British Antarctic Territory,1962.0,1993.0,Became possession of 200
2634,9981,Palmer Antarctic Territory,1908.0,1962.0,Claimed by 1163
2635,9981,Palmer Antarctic Territory,1962.0,1993.0,Became part of 9980
2636,9982,South Orkney Is.,1821.0,1833.0,Became possession of 200
2637,9982,South Orkney Is.,1833.0,1962.0,Became part of 1163
2638,9982,South Orkney Is.,1962.0,1993.0,Became part of 9980
2639,9983,South Shetland Is.,1819.0,1833.0,Became possession of 200
2640,9983,South Shetland Is.,1833.0,1962.0,Became part of 1163
2641,9983,South Shetland Is.,1962.0,1993.0,Became part of 9980
2642,9984,South Sandwich Is.,1816.0,1833.0,Became possession of 200
2643,9984,South Sandwich Is.,1833.0,1962.0,Became part of 1163
2644,9984,South Sandwich Is.,1962.0,1985.0,Became part of 9980
2645,9984,South Sandwich Is.,1985.0,1993.0,Became part of 1165
2646,9985,Argentine Antarctica,1942.0,1993.0,Claimed by 160
2647,9986,Chilean Antarctica,1940.0,1993.0,Claimed by 155
2648,9987,Neu Schwabenland,1939.0,1945.0,Claimed by 255
2649,9991,Peter I I.,1931.0,1993.0,Became possession of 385
2650,9993,Bouvet I.,1927.0,1993.0,Became possession of 385

In [31]:
dfTerritoryDates = dfTerritories[['Entity Number', 'Begin Year', 'End Year', 'Ending Political Status']]
dfTerritoryDates.rename(columns={'Entity Number':'PolityID', 'Begin Year':'StartYear', 'End Year':'EndYear', 'Ending Political Status':'EndingStatus'}, inplace=True)
dfTerritoryDates

/usr/local/anaconda3/lib/python3.6/site-packages/pandas/core/frame.py:4025: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  return super(DataFrame, self).rename(**kwargs)
/usr/local/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

      PolityID  StartYear  EndYear              EndingStatus
0            3     1816.0   1867.0      Became colony of 365
1            3     1867.0   1959.0        Became colony of 2
2            3     1959.0   1993.0          Became part of 2
3            4     1898.0   1960.0        Became colony of 2
4            4     1960.0   1993.0          Became part of 2
5            5     1816.0   1917.0      Became colony of 390
6            5     1917.0   1993.0        Became colony of 2
7            6     1816.0   1821.0       Became part of 1070
8            6     1821.0   1898.0      Became colony of 230
9            6     1898.0   1952.0        Became colony of 2
10           7     1816.0   1836.0         Became part of 70
11           7     1845.0   1861.0          Became part of 2
12           7     1861.0   1865.0       Became part of 1002
13           7     1865.0   1993.0          Became part of 2
14          10     1816.0   1953.0      Became colony of 390
15          10     1941.0   1945.0             Occupied by 2
16          11     1816.0   1947.0      Became colony of 390
17          11     1940.0   1945.0           Occupied by 200
18          20     1816.0   1841.0       Became part of 1025
19          20     1841.0   1919.0      Became colony of 200
20          21     1816.0   1920.0      Became colony of 200
21          21     1933.0   1949.0      Became colony of 200
22          21     1949.0   1993.0         Became part of 20
23          30     1816.0   1993.0      Became colony of 200
24          31     1816.0   1973.0      Became colony of 200
25          40     1816.0   1821.0       Became part of 1070
26          40     1816.0   1898.0      Became colony of 230
27          40     1898.0   1902.0             Occupied by 2
28          40     1906.0   1909.0             Occupied by 2
29          41     1915.0   1934.0             Occupied by 2
...        ...        ...      ...                       ...
2621      9900     1889.0   1900.0  Became protectorate of 2
2622      9900     1900.0   1993.0        Became part of 990
2623      9960     1933.0   1993.0            Claimed by 900
2624      9970     1955.0   1993.0  Became possession of 220
2625      9971     1840.0   1955.0            Claimed by 220
2626      9971     1955.0   1993.0       Became part of 9970
2627      9972     1843.0   1955.0  Became possession of 220
2628      9972     1955.0   1993.0       Became part of 9970
2629      9973     1893.0   1955.0  Became possession of 220
2630      9973     1955.0   1993.0       Became part of 9970
2631      9974     1816.0   1955.0  Became possession of 220
2632      9974     1955.0   1993.0       Became part of 9970
2633      9980     1962.0   1993.0  Became possession of 200
2634      9981     1908.0   1962.0           Claimed by 1163
2635      9981     1962.0   1993.0       Became part of 9980
2636      9982     1821.0   1833.0  Became possession of 200
2637      9982     1833.0   1962.0       Became part of 1163
2638      9982     1962.0   1993.0       Became part of 9980
2639      9983     1819.0   1833.0  Became possession of 200
2640      9983     1833.0   1962.0       Became part of 1163
2641      9983     1962.0   1993.0       Became part of 9980
2642      9984     1816.0   1833.0  Became possession of 200
2643      9984     1833.0   1962.0       Became part of 1163
2644      9984     1962.0   1985.0       Became part of 9980
2645      9984     1985.0   1993.0       Became part of 1165
2646      9985     1942.0   1993.0            Claimed by 160
2647      9986     1940.0   1993.0            Claimed by 155
2648      9987     1939.0   1945.0            Claimed by 255
2649      9991     1931.0   1993.0  Became possession of 385
2650      9993     1927.0   1993.0  Became possession of 385

[2651 rows x 4 columns]

In [32]:
dfTerritoryDates [dfTerritoryDates.duplicated(subset=['PolityID', 'StartYear', 'EndYear'], keep=False)]

,PolityID,StartYear,EndYear,EndingStatus
30,42,1816.0,1821.0,Became colony of 230
31,42,1816.0,1821.0,Became part of 1070
36,50,1816.0,1958.0,Became part of 56
37,50,1816.0,1958.0,Became part of 55
38,50,1816.0,1958.0,Became part of 59
39,50,1816.0,1958.0,Became part of 60
40,50,1816.0,1958.0,Became part of 52
41,50,1816.0,1958.0,Became part of 58
42,50,1816.0,1958.0,Became part of 51
43,50,1816.0,1958.0,Became part of 54
44,50,1816.0,1958.0,Became part of 57
45,50,1816.0,1958.0,Became part of 53
46,50,1962.0,1993.0,Became part of 51
47,50,1962.0,1993.0,Became part of 59
48,50,1962.0,1993.0,Became part of 58
49,50,1962.0,1993.0,Became part of 57
50,50,1962.0,1993.0,Became part of 56
51,50,1962.0,1993.0,Became part of 55
52,50,1962.0,1993.0,Became part of 54
53,50,1962.0,1993.0,Became part of 53
54,50,1962.0,1993.0,Became part of 52
55,50,1962.0,1993.0,Became part of 60
91,60,1816.0,1882.0,Became part of 1076
92,60,1816.0,1882.0,Became part of 1075
108,89,1816.0,1821.0,Became part of 1070
109,89,1816.0,1821.0,Became colony of 230
139,110,1816.0,1831.0,Became part of 1113
140,110,1816.0,1831.0,Became part of 1114
267,1055,1816.0,1833.0,Became part of 57
268,1055,1816.0,1833.0,Became part of 55
...,...,...,...,...
1636,6451,1920.0,1922.0,Claimed by 670
1637,6451,1920.0,1922.0,Claimed by 645
1775,6969,NaN,NaN,Claimed by 6962
1776,6969,NaN,NaN,Claimed by 6961
1777,6969,-197.0,1971.0,Became neutral or demilitarized zone of\r6962
1778,6969,-197.0,1971.0,Became neutral or demilitarized zone of\r6961
1788,6983,NaN,NaN,Claimed by 698
1789,6983,NaN,NaN,Claimed by 6963
1790,6983,-197.0,1971.0,Became neutral or demilitarized zone of\r698
1791,6983,-197.0,1971.0,Became neutral or demilitarized zone of\r6963
1792,6983,1971.0,1993.0,Became neutral or demilitarized zone of\r696
1793,6983,1971.0,1993.0,Became neutral or demilitarized zone of\r698
1856,810,1883.0,1887.0,Became part of 8153
1857,810,1883.0,1887.0,Became part of 8152
1864,810,1949.0,1993.0,Became part of 812
1865,810,1949.0,1993.0,Became part of 811
1887,821,1816.0,1896.0,Became part of 8201
1888,821,1816.0,1896.0,Became part of 8210
1889,821,1816.0,1896.0,Became part of 8202
1890,821,1816.0,1896.0,Became part of 8203
2060,7502,1816.0,1869.0,Became part of 7504
2061,7502,1816.0,1869.0,Became possession of 390
2413,8555,1816.0,1825.0,Became possession of 200
2414,8555,1816.0,1825.0,Became part of 750
2533,9301,1853.0,1993.0,Became possession of 220
2534,9301,1853.0,1993.0,Became part of 930
2536,9321,1842.0,1959.0,Became protectorate of 220
2537,9321,1842.0,1959.0,Became part of 930
2596,9621,1839.0,1993.0,Became possession of 200
2597,9621,1839.0,1993.0,Became part of 9620

Note: this shows that all four attributes are need to form a compound primary key

In [33]:
dfTerritoryDates['StartYear'] = dfTerritoryDates['StartYear'].fillna(0)
dfTerritoryDates['EndYear'] = dfTerritoryDates['EndYear'].fillna(0)

dfTerritoryDates = dfTerritoryDates.astype({'StartYear':int, 'EndYear':int})
dfTerritoryDates = dfTerritoryDates.astype({'StartYear':str, 'EndYear':str})
dfTerritoryDates

/usr/local/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/usr/local/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

      PolityID StartYear EndYear              EndingStatus
0            3      1816    1867      Became colony of 365
1            3      1867    1959        Became colony of 2
2            3      1959    1993          Became part of 2
3            4      1898    1960        Became colony of 2
4            4      1960    1993          Became part of 2
5            5      1816    1917      Became colony of 390
6            5      1917    1993        Became colony of 2
7            6      1816    1821       Became part of 1070
8            6      1821    1898      Became colony of 230
9            6      1898    1952        Became colony of 2
10           7      1816    1836         Became part of 70
11           7      1845    1861          Became part of 2
12           7      1861    1865       Became part of 1002
13           7      1865    1993          Became part of 2
14          10      1816    1953      Became colony of 390
15          10      1941    1945             Occupied by 2
16          11      1816    1947      Became colony of 390
17          11      1940    1945           Occupied by 200
18          20      1816    1841       Became part of 1025
19          20      1841    1919      Became colony of 200
20          21      1816    1920      Became colony of 200
21          21      1933    1949      Became colony of 200
22          21      1949    1993         Became part of 20
23          30      1816    1993      Became colony of 200
24          31      1816    1973      Became colony of 200
25          40      1816    1821       Became part of 1070
26          40      1816    1898      Became colony of 230
27          40      1898    1902             Occupied by 2
28          40      1906    1909             Occupied by 2
29          41      1915    1934             Occupied by 2
...        ...       ...     ...                       ...
2621      9900      1889    1900  Became protectorate of 2
2622      9900      1900    1993        Became part of 990
2623      9960      1933    1993            Claimed by 900
2624      9970      1955    1993  Became possession of 220
2625      9971      1840    1955            Claimed by 220
2626      9971      1955    1993       Became part of 9970
2627      9972      1843    1955  Became possession of 220
2628      9972      1955    1993       Became part of 9970
2629      9973      1893    1955  Became possession of 220
2630      9973      1955    1993       Became part of 9970
2631      9974      1816    1955  Became possession of 220
2632      9974      1955    1993       Became part of 9970
2633      9980      1962    1993  Became possession of 200
2634      9981      1908    1962           Claimed by 1163
2635      9981      1962    1993       Became part of 9980
2636      9982      1821    1833  Became possession of 200
2637      9982      1833    1962       Became part of 1163
2638      9982      1962    1993       Became part of 9980
2639      9983      1819    1833  Became possession of 200
2640      9983      1833    1962       Became part of 1163
2641      9983      1962    1993       Became part of 9980
2642      9984      1816    1833  Became possession of 200
2643      9984      1833    1962       Became part of 1163
2644      9984      1962    1985       Became part of 9980
2645      9984      1985    1993       Became part of 1165
2646      9985      1942    1993            Claimed by 160
2647      9986      1940    1993            Claimed by 155
2648      9987      1939    1945            Claimed by 255
2649      9991      1931    1993  Became possession of 385
2650      9993      1927    1993  Became possession of 385

[2651 rows x 4 columns]

In [34]:
# See which years are bad
#dfTerritoryDates[~dfTerritoryDates['StartYear'].str.match('[0-9]{4}')]

In [35]:
dfTerritoryDatesClean = dfTerritoryDates[dfTerritoryDates['StartYear'].str.match('[0-9]{4}')]
dfTerritoryDatesClean = dfTerritoryDatesClean[dfTerritoryDatesClean['EndYear'].str.match('[0-9]{4}')]

dfTerritoryDatesClean

      PolityID StartYear EndYear              EndingStatus
0            3      1816    1867      Became colony of 365
1            3      1867    1959        Became colony of 2
2            3      1959    1993          Became part of 2
3            4      1898    1960        Became colony of 2
4            4      1960    1993          Became part of 2
5            5      1816    1917      Became colony of 390
6            5      1917    1993        Became colony of 2
7            6      1816    1821       Became part of 1070
8            6      1821    1898      Became colony of 230
9            6      1898    1952        Became colony of 2
10           7      1816    1836         Became part of 70
11           7      1845    1861          Became part of 2
12           7      1861    1865       Became part of 1002
13           7      1865    1993          Became part of 2
14          10      1816    1953      Became colony of 390
15          10      1941    1945             Occupied by 2
16          11      1816    1947      Became colony of 390
17          11      1940    1945           Occupied by 200
18          20      1816    1841       Became part of 1025
19          20      1841    1919      Became colony of 200
20          21      1816    1920      Became colony of 200
21          21      1933    1949      Became colony of 200
22          21      1949    1993         Became part of 20
23          30      1816    1993      Became colony of 200
24          31      1816    1973      Became colony of 200
25          40      1816    1821       Became part of 1070
26          40      1816    1898      Became colony of 230
27          40      1898    1902             Occupied by 2
28          40      1906    1909             Occupied by 2
29          41      1915    1934             Occupied by 2
...        ...       ...     ...                       ...
2621      9900      1889    1900  Became protectorate of 2
2622      9900      1900    1993        Became part of 990
2623      9960      1933    1993            Claimed by 900
2624      9970      1955    1993  Became possession of 220
2625      9971      1840    1955            Claimed by 220
2626      9971      1955    1993       Became part of 9970
2627      9972      1843    1955  Became possession of 220
2628      9972      1955    1993       Became part of 9970
2629      9973      1893    1955  Became possession of 220
2630      9973      1955    1993       Became part of 9970
2631      9974      1816    1955  Became possession of 220
2632      9974      1955    1993       Became part of 9970
2633      9980      1962    1993  Became possession of 200
2634      9981      1908    1962           Claimed by 1163
2635      9981      1962    1993       Became part of 9980
2636      9982      1821    1833  Became possession of 200
2637      9982      1833    1962       Became part of 1163
2638      9982      1962    1993       Became part of 9980
2639      9983      1819    1833  Became possession of 200
2640      9983      1833    1962       Became part of 1163
2641      9983      1962    1993       Became part of 9980
2642      9984      1816    1833  Became possession of 200
2643      9984      1833    1962       Became part of 1163
2644      9984      1962    1985       Became part of 9980
2645      9984      1985    1993       Became part of 1165
2646      9985      1942    1993            Claimed by 160
2647      9986      1940    1993            Claimed by 155
2648      9987      1939    1945            Claimed by 255
2649      9991      1931    1993  Became possession of 385
2650      9993      1927    1993  Became possession of 385

[2611 rows x 4 columns]

In [36]:
dfTerritoryDatesClean['ReferencedPolityID'] = dfTerritoryDatesClean['EndingStatus'].str.extract(r'([0-9]{1,4})')
dfTerritoryDatesClean

      PolityID StartYear EndYear              EndingStatus ReferencedPolityID
0            3      1816    1867      Became colony of 365                365
1            3      1867    1959        Became colony of 2                  2
2            3      1959    1993          Became part of 2                  2
3            4      1898    1960        Became colony of 2                  2
4            4      1960    1993          Became part of 2                  2
5            5      1816    1917      Became colony of 390                390
6            5      1917    1993        Became colony of 2                  2
7            6      1816    1821       Became part of 1070               1070
8            6      1821    1898      Became colony of 230                230
9            6      1898    1952        Became colony of 2                  2
10           7      1816    1836         Became part of 70                 70
11           7      1845    1861          Became part of 2                  2
12           7      1861    1865       Became part of 1002               1002
13           7      1865    1993          Became part of 2                  2
14          10      1816    1953      Became colony of 390                390
15          10      1941    1945             Occupied by 2                  2
16          11      1816    1947      Became colony of 390                390
17          11      1940    1945           Occupied by 200                200
18          20      1816    1841       Became part of 1025               1025
19          20      1841    1919      Became colony of 200                200
20          21      1816    1920      Became colony of 200                200
21          21      1933    1949      Became colony of 200                200
22          21      1949    1993         Became part of 20                 20
23          30      1816    1993      Became colony of 200                200
24          31      1816    1973      Became colony of 200                200
25          40      1816    1821       Became part of 1070               1070
26          40      1816    1898      Became colony of 230                230
27          40      1898    1902             Occupied by 2                  2
28          40      1906    1909             Occupied by 2                  2
29          41      1915    1934             Occupied by 2                  2
...        ...       ...     ...                       ...                ...
2621      9900      1889    1900  Became protectorate of 2                  2
2622      9900      1900    1993        Became part of 990                990
2623      9960      1933    1993            Claimed by 900                900
2624      9970      1955    1993  Became possession of 220                220
2625      9971      1840    1955            Claimed by 220                220
2626      9971      1955    1993       Became part of 9970               9970
2627      9972      1843    1955  Became possession of 220                220
2628      9972      1955    1993       Became part of 9970               9970
2629      9973      1893    1955  Became possession of 220                220
2630      9973      1955    1993       Became part of 9970               9970
2631      9974      1816    1955  Became possession of 220                220
2632      9974      1955    1993       Became part of 9970               9970
2633      9980      1962    1993  Became possession of 200                200
2634      9981      1908    1962           Claimed by 1163               1163
2635      9981      1962    1993       Became part of 9980               9980
2636      9982      1821    1833  Became possession of 200                200
2637      9982      1833    1962       Became part of 1163               1163
2638      9982      1962    1993       Became part of 9980               9980
2639      9983      1819    1833  Became possession of 200                200
2640      9983      1833    1962       Became part of 1163               1163
2641      9983      1962    1993       Became part of 9980               9980
2642      9984      1816    1833  Became possession of 200                200
2643      9984      1833    1962       Became part of 1163               1163
2644      9984      1962    1985       Became part of 9980               9980
2645      9984      1985    1993       Became part of 1165               1165
2646      9985      1942    1993            Claimed by 160                160
2647      9986      1940    1993            Claimed by 155                155
2648      9987      1939    1945            Claimed by 255                255
2649      9991      1931    1993  Became possession of 385                385
2650      9993      1927    1993  Became possession of 385                385

[2611 rows x 5 columns]

In [37]:
dfTerritoryDatesClean = dfTerritoryDatesClean.astype({'StartYear':int, 'EndYear':int, 'ReferencedPolityID':int})
dfTerritoryDatesClean = dfTerritoryDatesClean.merge(dfPolity[['PolityID', 'PolityName']], left_on='ReferencedPolityID', right_on='PolityID', how='left')
dfTerritoryDatesClean.drop(columns=['PolityID_y'], inplace=True)
dfTerritoryDatesClean.rename(columns={'PolityID_x':'PolityID'}, inplace=True)
dfTerritoryDatesClean = dfTerritoryDatesClean[~dfTerritoryDatesClean['PolityName'].isnull()]
dfTerritoryDatesClean

,PolityID,StartYear,EndYear,EndingStatus,ReferencedPolityID,PolityName
0,3,1816,1867,Became colony of 365,365,Russia
1,3,1867,1959,Became colony of 2,2,United States of America
2,3,1959,1993,Became part of 2,2,United States of America
3,4,1898,1960,Became colony of 2,2,United States of America
4,4,1960,1993,Became part of 2,2,United States of America
5,5,1816,1917,Became colony of 390,390,Denmark
6,5,1917,1993,Became colony of 2,2,United States of America
7,6,1816,1821,Became part of 1070,1070,Viceroyalty of New Spain
8,6,1821,1898,Became colony of 230,230,Spain
9,6,1898,1952,Became colony of 2,2,United States of America
10,7,1816,1836,Became part of 70,70,Mexico
11,7,1845,1861,Became part of 2,2,United States of America
12,7,1861,1865,Became part of 1002,1002,Confederate States of America
13,7,1865,1993,Became part of 2,2,United States of America
14,10,1816,1953,Became colony of 390,390,Denmark
15,10,1941,1945,Occupied by 2,2,United States of America
16,11,1816,1947,Became colony of 390,390,Denmark
17,11,1940,1945,Occupied by 200,200,United Kingdom
18,20,1816,1841,Became part of 1025,1025,Quebec (Lower Canada)
19,20,1841,1919,Became colony of 200,200,United Kingdom
20,21,1816,1920,Became colony of 200,200,United Kingdom
21,21,1933,1949,Became colony of 200,200,United Kingdom
22,21,1949,1993,Became part of 20,20,Canada
23,30,1816,1993,Became colony of 200,200,United Kingdom
24,31,1816,1973,Became colony of 200,200,United Kingdom
25,40,1816,1821,Became part of 1070,1070,Viceroyalty of New Spain
26,40,1816,1898,Became colony of 230,230,Spain
27,40,1898,1902,Occupied by 2,2,United States of America
28,40,1906,1909,Occupied by 2,2,United States of America
29,41,1915,1934,Occupied by 2,2,United States of America
...,...,...,...,...,...,...
2581,9900,1889,1900,Became protectorate of 2,2,United States of America
2582,9900,1900,1993,Became part of 990,990,Samoa
2583,9960,1933,1993,Claimed by 900,900,Australia
2584,9970,1955,1993,Became possession of 220,220,France
2585,9971,1840,1955,Claimed by 220,220,France
2586,9971,1955,1993,Became part of 9970,9970,French and Southern Antarctic Territories (F.S...
2587,9972,1843,1955,Became possession of 220,220,France
2588,9972,1955,1993,Became part of 9970,9970,French and Southern Antarctic Territories (F.S...
2589,9973,1893,1955,Became possession of 220,220,France
2590,9973,1955,1993,Became part of 9970,9970,French and Southern Antarctic Territories (F.S...
2591,9974,1816,1955,Became possession of 220,220,France
2592,9974,1955,1993,Became part of 9970,9970,French and Southern Antarctic Territories (F.S...
2593,9980,1962,1993,Became possession of 200,200,United Kingdom
2594,9981,1908,1962,Claimed by 1163,1163,Falkland Is.
2595,9981,1962,1993,Became part of 9980,9980,British Antarctic Territory
2596,9982,1821,1833,Became possession of 200,200,United Kingdom
2597,9982,1833,1962,Became part of 1163,1163,Falkland Is.
2598,9982,1962,1993,Became part of 9980,9980,British Antarctic Territory
2599,9983,1819,1833,Became possession of 200,200,United Kingdom
2600,9983,1833,1962,Became part of 1163,1163,Falkland Is.
2601,9983,1962,1993,Became part of 9980,9980,British Antarctic Territory
2602,9984,1816,1833,Became possession of 200,200,United Kingdom
2603,9984,1833,1962,Became part of 1163,1163,Falkland Is.
2604,9984,1962,1985,Became part of 9980,9980,British Antarctic Territory
2605,9984,1985,1993,Became part of 1165,1165,South Georgia and South Sandwich Is.
2606,9985,1942,1993,Claimed by 160,160,Argentina
2607,9986,1940,1993,Claimed by 155,155,Chile
2608,9987,1939,1945,Claimed by 255,255,Germany
2609,9991,1931,1993,Became possession of 385,385,Norway
2610,9993,1927,1993,Became possession of 385,385,Norway

In [38]:
dfTerritoryDatesClean['StatusSentence'] = dfTerritoryDatesClean['EndingStatus'].str.extract(r'([^0-9]+)')
dfTerritoryDatesClean['StatusSentence'] = dfTerritoryDatesClean['StatusSentence'].fillna('')
dfTerritoryDatesClean['EndingStatus'] = dfTerritoryDatesClean['StatusSentence'].map(str) + dfTerritoryDatesClean['PolityName'].map(str)
dfTerritoryDatesClean

,PolityID,StartYear,EndYear,EndingStatus,ReferencedPolityID,PolityName,StatusSentence
0,3,1816,1867,Became colony of Russia,365,Russia,Became colony of
1,3,1867,1959,Became colony of United States of America,2,United States of America,Became colony of
2,3,1959,1993,Became part of United States of America,2,United States of America,Became part of
3,4,1898,1960,Became colony of United States of America,2,United States of America,Became colony of
4,4,1960,1993,Became part of United States of America,2,United States of America,Became part of
5,5,1816,1917,Became colony of Denmark,390,Denmark,Became colony of
6,5,1917,1993,Became colony of United States of America,2,United States of America,Became colony of
7,6,1816,1821,Became part of Viceroyalty of New Spain,1070,Viceroyalty of New Spain,Became part of
8,6,1821,1898,Became colony of Spain,230,Spain,Became colony of
9,6,1898,1952,Became colony of United States of America,2,United States of America,Became colony of
10,7,1816,1836,Became part of Mexico,70,Mexico,Became part of
11,7,1845,1861,Became part of United States of America,2,United States of America,Became part of
12,7,1861,1865,Became part of Confederate States of America,1002,Confederate States of America,Became part of
13,7,1865,1993,Became part of United States of America,2,United States of America,Became part of
14,10,1816,1953,Became colony of Denmark,390,Denmark,Became colony of
15,10,1941,1945,Occupied by United States of America,2,United States of America,Occupied by
16,11,1816,1947,Became colony of Denmark,390,Denmark,Became colony of
17,11,1940,1945,Occupied by United Kingdom,200,United Kingdom,Occupied by
18,20,1816,1841,Became part of Quebec (Lower Canada),1025,Quebec (Lower Canada),Became part of
19,20,1841,1919,Became colony of United Kingdom,200,United Kingdom,Became colony of
20,21,1816,1920,Became colony of United Kingdom,200,United Kingdom,Became colony of
21,21,1933,1949,Became colony of United Kingdom,200,United Kingdom,Became colony of
22,21,1949,1993,Became part of Canada,20,Canada,Became part of
23,30,1816,1993,Became colony of United Kingdom,200,United Kingdom,Became colony of
24,31,1816,1973,Became colony of United Kingdom,200,United Kingdom,Became colony of
25,40,1816,1821,Became part of Viceroyalty of New Spain,1070,Viceroyalty of New Spain,Became part of
26,40,1816,1898,Became colony of Spain,230,Spain,Became colony of
27,40,1898,1902,Occupied by United States of America,2,United States of America,Occupied by
28,40,1906,1909,Occupied by United States of America,2,United States of America,Occupied by
29,41,1915,1934,Occupied by United States of America,2,United States of America,Occupied by
...,...,...,...,...,...,...,...
2581,9900,1889,1900,Became protectorate of United States of America,2,United States of America,Became protectorate of
2582,9900,1900,1993,Became part of Samoa,990,Samoa,Became part of
2583,9960,1933,1993,Claimed by Australia,900,Australia,Claimed by
2584,9970,1955,1993,Became possession of France,220,France,Became possession of
2585,9971,1840,1955,Claimed by France,220,France,Claimed by
2586,9971,1955,1993,Became part of French and Southern Antarctic T...,9970,French and Southern Antarctic Territories (F.S...,Became part of
2587,9972,1843,1955,Became possession of France,220,France,Became possession of
2588,9972,1955,1993,Became part of French and Southern Antarctic T...,9970,French and Southern Antarctic Territories (F.S...,Became part of
2589,9973,1893,1955,Became possession of France,220,France,Became possession of
2590,9973,1955,1993,Became part of French and Southern Antarctic T...,9970,French and Southern Antarctic Territories (F.S...,Became part of
2591,9974,1816,1955,Became possession of France,220,France,Became possession of
2592,9974,1955,1993,Became part of French and Southern Antarctic T...,9970,French and Southern Antarctic Territories (F.S...,Became part of
2593,9980,1962,1993,Became possession of United Kingdom,200,United Kingdom,Became possession of
2594,9981,1908,1962,Claimed by Falkland Is.,1163,Falkland Is.,Claimed by
2595,9981,1962,1993,Became part of British Antarctic Territory,9980,British Antarctic Territory,Became part of
2596,9982,1821,1833,Became possession of United Kingdom,200,United Kingdom,Became possession of
2597,9982,1833,1962,Became part of Falkland Is.,1163,Falkland Is.,Became part of
2598,9982,1962,1993,Became part of British Antarctic Territory,9980,British Antarctic Territory,Became part of
2599,9983,1819,1833,Became possession of United Kingdom,200,United Kingdom,Became possession of
2600,9983,1833,1962,Became part of Falkland Is.,1163,Falkland Is.,Became part of
2601,9983,1962,1993,Became part of British Antarctic Territory,9980,British Antarctic Territory,Became part of
2602,9984,1816,1833,Became possession of United Kingdom,200,United Kingdom,Became possession of
2603,9984,1833,1962,Became part of Falkland Is.,1163,Falkland Is.,Became part of
2604,9984,1962,1985,Became part of British Antarctic Territory,9980,British Antarctic Territory,Became part of
2605,9984,1985,1993,Became part of South Georgia and South Sandwic...,1165,South Georgia and South Sandwich Is.,Became part of
2606,9985,1942,1993,Claimed by Argentina,160,Argentina,Claimed by
2607,9986,1940,1993,Claimed by Chile,155,Chile,Claimed by
2608,9987,1939,1945,Claimed by Germany,255,Germany,Claimed by
2609,9991,1931,1993,Became possession of Norway,385,Norway,Became possession of
2610,9993,1927,1993,Became possession of Norway,385,Norway,Became possession of

In [39]:
dfTerritoryDatesClean.drop(columns=['PolityName', 'StatusSentence'], inplace=True)
dfTerritoryDatesClean = dfTerritoryDatesClean.rename(columns={'PolityID':'TerritoryID'})
dfTerritoryDatesClean = dfTerritoryDatesClean[['TerritoryID', 'StartYear', 'EndYear', 'EndingStatus', 'ReferencedPolityID']]
dfTerritoryDatesClean

,TerritoryID,StartYear,EndYear,EndingStatus,ReferencedPolityID
0,3,1816,1867,Became colony of Russia,365
1,3,1867,1959,Became colony of United States of America,2
2,3,1959,1993,Became part of United States of America,2
3,4,1898,1960,Became colony of United States of America,2
4,4,1960,1993,Became part of United States of America,2
5,5,1816,1917,Became colony of Denmark,390
6,5,1917,1993,Became colony of United States of America,2
7,6,1816,1821,Became part of Viceroyalty of New Spain,1070
8,6,1821,1898,Became colony of Spain,230
9,6,1898,1952,Became colony of United States of America,2
10,7,1816,1836,Became part of Mexico,70
11,7,1845,1861,Became part of United States of America,2
12,7,1861,1865,Became part of Confederate States of America,1002
13,7,1865,1993,Became part of United States of America,2
14,10,1816,1953,Became colony of Denmark,390
15,10,1941,1945,Occupied by United States of America,2
16,11,1816,1947,Became colony of Denmark,390
17,11,1940,1945,Occupied by United Kingdom,200
18,20,1816,1841,Became part of Quebec (Lower Canada),1025
19,20,1841,1919,Became colony of United Kingdom,200
20,21,1816,1920,Became colony of United Kingdom,200
21,21,1933,1949,Became colony of United Kingdom,200
22,21,1949,1993,Became part of Canada,20
23,30,1816,1993,Became colony of United Kingdom,200
24,31,1816,1973,Became colony of United Kingdom,200
25,40,1816,1821,Became part of Viceroyalty of New Spain,1070
26,40,1816,1898,Became colony of Spain,230
27,40,1898,1902,Occupied by United States of America,2
28,40,1906,1909,Occupied by United States of America,2
29,41,1915,1934,Occupied by United States of America,2
...,...,...,...,...,...
2581,9900,1889,1900,Became protectorate of United States of America,2
2582,9900,1900,1993,Became part of Samoa,990
2583,9960,1933,1993,Claimed by Australia,900
2584,9970,1955,1993,Became possession of France,220
2585,9971,1840,1955,Claimed by France,220
2586,9971,1955,1993,Became part of French and Southern Antarctic T...,9970
2587,9972,1843,1955,Became possession of France,220
2588,9972,1955,1993,Became part of French and Southern Antarctic T...,9970
2589,9973,1893,1955,Became possession of France,220
2590,9973,1955,1993,Became part of French and Southern Antarctic T...,9970
2591,9974,1816,1955,Became possession of France,220
2592,9974,1955,1993,Became part of French and Southern Antarctic T...,9970
2593,9980,1962,1993,Became possession of United Kingdom,200
2594,9981,1908,1962,Claimed by Falkland Is.,1163
2595,9981,1962,1993,Became part of British Antarctic Territory,9980
2596,9982,1821,1833,Became possession of United Kingdom,200
2597,9982,1833,1962,Became part of Falkland Is.,1163
2598,9982,1962,1993,Became part of British Antarctic Territory,9980
2599,9983,1819,1833,Became possession of United Kingdom,200
2600,9983,1833,1962,Became part of Falkland Is.,1163
2601,9983,1962,1993,Became part of British Antarctic Territory,9980
2602,9984,1816,1833,Became possession of United Kingdom,200
2603,9984,1833,1962,Became part of Falkland Is.,1163
2604,9984,1962,1985,Became part of British Antarctic Territory,9980
2605,9984,1985,1993,Became part of South Georgia and South Sandwic...,1165
2606,9985,1942,1993,Claimed by Argentina,160
2607,9986,1940,1993,Claimed by Chile,155
2608,9987,1939,1945,Claimed by Germany,255
2609,9991,1931,1993,Became possession of Norway,385
2610,9993,1927,1993,Became possession of Norway,385

In [88]:
dfTerritoryDatesClean['EndingStatus'] = dfTerritoryDatesClean['EndingStatus'].str.replace(r'\r', ' ', regex=True)

In [90]:
dfTerritoryDatesClean.to_csv('../FinalData/territory_dates.csv', encoding='utf-8', index=False)

## Create 'TERRITORIALCHANGE' table

Task: transform tc2014.csv into a table with attributes:

- TerritorialChangeID
- Gainer
- Loser
- TransferDate
- Year
- Month
- Procedure
- TerritoryID
- TerritoryArea
- TerritoryPopulation
- IsWholeTerritory
- IsMilConflict
- IsIndependence
- GainerIsCont
- LoserIsCont
- IsGainerHomeland
- IsLoserHomeland
- IsSystemEntry
- IsSystemExit

In [42]:
dfTerrChange = pd.read_csv('../SourceData/CorrelatesOfWar/tc2014.csv')
dfTerrChange

,year,month,gainer,gaintype,procedur,entity,contgain,area,pop,portion,loser,losetype,contlose,entry,exit,number,indep,conflict,version
0,1816,7,160,1,-9,160,-9,2093164.00,1970000,1,230,0,0,1,0,3,1,0,5
1,1816,3,200,0,3,790,0,1.00,.,0,790,1,1,0,0,4,0,1,5
2,1816,.,200,0,3,420,0,179.00,.,0,-9,1,-9,0,0,5,0,0,5
3,1817,.,220,0,3,433,0,7819.00,100000,1,200,0,0,0,0,28,0,0,5
4,1817,.,365,1,1,365,1,650.00,.,0,-9,1,1,0,0,29,0,1,5
5,1818,10,2,1,3,20,1,84240.00,.,0,200,0,0,0,0,30,0,0,5
6,1818,12,155,1,-9,155,-9,464568.00,1656300,1,230,0,0,1,0,31,1,1,5
7,1818,10,200,0,3,2,0,41600.00,.,0,2,1,1,0,0,32,0,0,5
8,1818,6,200,0,1,750,0,421200.00,.,0,-9,1,-9,0,0,33,0,1,5
9,1818,.,200,0,2,438,0,16.00,.,0,-9,1,-9,0,0,34,0,0,5
10,1818,.,640,1,3,671,1,388500.00,.,1,-9,1,-9,0,0,35,0,1,5
11,1819,2,2,1,3,40,1,186488.00,54477,0,230,0,0,0,0,36,0,0,5
12,1819,12,100,1,-9,100,-9,660760.00,1400000,1,230,0,0,1,0,37,1,0,5
13,1819,.,220,0,2,580,0,1.00,.,0,580,1,1,0,0,38,0,0,5
14,1821,11,42,1,-9,42,-9,48734.00,89000,1,230,0,0,-9,0,39,1,0,5
15,1821,3,70,1,-9,70,-9,1426757.00,7000000,1,230,0,0,1,0,40,1,0,5
16,1821,6,100,1,1,101,1,1082207.00,800000,1,230,0,0,0,0,41,0,1,5
17,1821,7,135,1,-9,135,-9,1559891.00,1929300,1,230,0,0,-9,0,42,1,0,5
18,1821,11,235,0,3,165,0,269810.00,70000,1,230,0,0,0,0,43,0,0,5
19,1822,5,100,1,1,130,1,550685.00,600000,1,230,0,0,0,0,44,0,1,5
20,1822,.,640,1,1,625,1,229471.00,100000,1,-9,1,-9,0,0,45,0,1,5
21,1824,12,140,1,-9,140,-9,8259504.00,5306418,1,235,0,0,1,0,46,1,0,5
22,1824,3,200,0,3,830,0,583.00,10000,1,-9,1,1,0,0,47,0,0,5
23,1824,3,200,0,3,827,0,1658.00,77756,0,210,0,0,0,0,48,0,0,5
24,1824,3,210,0,3,850,0,25089.00,93875,0,200,0,0,0,0,49,0,0,5
25,1825,8,145,1,-9,145,-9,3016000.00,1750000,1,230,0,0,1,0,50,1,0,5
26,1825,12,200,0,2,9993,0,48.00,0,1,-9,1,-9,0,0,51,0,0,5
27,1825,.,580,1,1,580,1,1.00,.,0,220,0,0,0,0,52,0,0,5
28,1825,.,616,1,4,616,-9,116348.00,875000,1,640,0,1,-9,0,53,1,0,5
29,1826,.,200,0,2,561,0,200000.00,.,0,-9,1,-9,0,0,54,0,0,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
807,1993,1,316,1,4,316,-9,79228.00,10300000,1,315,1,1,1,1,861,1,0,5
808,1993,1,317,1,4,317,-9,48666.00,5200000,1,315,1,1,1,1,862,1,0,5
809,1993,4,531,1,4,531,-9,124993.00,3000000,1,530,1,1,1,0,863,1,1,5
810,1993,5,690,1,3,645,1,.,0,0,645,1,1,0,0,864,0,0,5
811,1994,3,565,1,3,5651,1,1124.00,30000,1,560,0,0,0,0,865,0,0,5
812,1994,10,986,1,-9,980,-9,487.00,15600,0,2,0,0,1,0,866,1,0,5
813,1995,2,663,1,3,666,1,340.00,0,0,666,1,1,0,0,867,0,0,5
814,1996,4,710,1,3,365,1,18.00,0,0,365,1,1,0,0,868,0,0,5
815,1997,6,316,1,3,317,1,4.52,31,0,317,1,1,0,0,869,0,0,5
816,1997,6,317,1,3,316,1,4.52,120,0,316,1,1,0,0,870,0,0,5
817,1997,7,710,1,3,720,1,1084.00,6700000,1,200,0,0,0,0,871,0,0,5
818,1998,7,710,1,3,705,1,470.00,.,0,705,1,1,0,0,872,0,0,5
819,1998,8,369,1,3,359,1,1.00,0,0,359,1,1,0,0,873,0,0,5
820,1998,8,359,1,3,369,1,1.00,0,0,369,1,1,0,0,874,0,0,5
821,1999,3,365,1,3,366,1,30.00,0,0,366,1,1,0,0,875,0,0,5
822,1999,3,366,1,3,365,1,30.00,0,0,365,1,1,0,0,876,0,0,5
823,1999,10,1,-9,3,860,-9,14926.00,780000,1,850,1,1,0,0,877,0,1,5
824,1999,12,710,1,3,721,1,21.45,447000,1,235,0,0,0,0,878,0,0,5
825,1991,.,571,1,1,.,1,5.00,0,0,-9,-9,-9,0,0,879,0,0,5
826,2000,1,651,1,1,625,1,20580.00,5000,0,625,1,1,0,0,880,0,0,5
827,2002,5,860,1,-9,860,-9,14926.00,950000,1,1,-9,-9,1,0,881,1,0,5
828,2003,12,475,1,3,471,1,.,.,0,471,1,1,0,0,882,0,0,5
829,2003,12,471,1,3,475,1,.,.,0,475,1,1,0,0,883,0,0,5
830,2004,7,679,1,3,670,1,40000.00,.,0,670,1,1,0,0,884,0,1,5
831,2006,6,348,1,4,348,-9,13812.00,650000,1,345,1,1,1,0,885,1,0,5
832,2008,8,471,1,3,475,1,665.00,300000,0,475,1,1,0,0,886,0,1,5
833,2008,10,710,1,3,365,1,174.00,0,0,365,1,1,0,0,887,0,0,5
834,2011,1,710,1,3,702,1,1142.00,.,0,702,1,1,0,0,888,0,0,5
835,2011,7,626,1,-9,626,-9,619745,8260000,1,625,1,1,1,0,889,1,1,5
836,2014,3,365,1,1,369,1,27000.00,2400000,1,369,1,1,0,0,890,0,1,5

In [43]:
dfTerrChange.rename(columns={"year":"Year", "month": "Month", "gainer":"Gainer", "gaintype":"IsGainerHomeland", 
                             "procedur":"Procedure", "entity":"TerritoryID", "contgain":"GainerIsCont", 
                             "area":"TerritoryArea", "pop":"TerritoryPopulation", "portion":"IsWholeTerritory", 
                             "loser":"Loser", "losetype":"IsLoserHomeland", "contlose": "LoserIsCont", 
                             "entry":"IsSystemEntry", "exit":"IsSystemExit", "number":"TerritorialChangeID", 
                             "indep":"IsIndependence", "conflict":"IsMilConflict"}, inplace=True)
dfTerrChange.drop(columns=['version'], inplace=True)

dfTerrChange['MonthClean'] = dfTerrChange['Month']
dfTerrChange['MonthClean'] [dfTerrChange['MonthClean'] == '.'] = 1 # boolean mask
dfTerrChange['TransferDate'] = pd.to_datetime(dict(year=dfTerrChange.Year, month=dfTerrChange.MonthClean, day='01'))
dfTerrChange['TransferDate'] = dfTerrChange['TransferDate'].apply(lambda x: x.strftime('%Y-%m-%d'))

dfTerrChange = dfTerrChange[['TerritorialChangeID', 'Gainer', 'Loser', 'TransferDate', 'Year', 'Month', 'Procedure', 'TerritoryID', 'TerritoryArea', 'TerritoryPopulation', 'IsWholeTerritory', 'IsMilConflict', 'IsIndependence', 'GainerIsCont', 'LoserIsCont', 'IsGainerHomeland', 'IsLoserHomeland', 'IsSystemEntry', 'IsSystemExit']]
dfTerrChange

/usr/local/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # Remove the CWD from sys.path while we load stuff.

,TerritorialChangeID,Gainer,Loser,TransferDate,Year,Month,Procedure,TerritoryID,TerritoryArea,TerritoryPopulation,IsWholeTerritory,IsMilConflict,IsIndependence,GainerIsCont,LoserIsCont,IsGainerHomeland,IsLoserHomeland,IsSystemEntry,IsSystemExit
0,3,160,230,1816-07-01,1816,7,-9,160,2093164.00,1970000,1,0,1,-9,0,1,0,1,0
1,4,200,790,1816-03-01,1816,3,3,790,1.00,.,0,1,0,0,1,0,1,0,0
2,5,200,-9,1816-01-01,1816,.,3,420,179.00,.,0,0,0,0,-9,0,1,0,0
3,28,220,200,1817-01-01,1817,.,3,433,7819.00,100000,1,0,0,0,0,0,0,0,0
4,29,365,-9,1817-01-01,1817,.,1,365,650.00,.,0,1,0,1,1,1,1,0,0
5,30,2,200,1818-10-01,1818,10,3,20,84240.00,.,0,0,0,1,0,1,0,0,0
6,31,155,230,1818-12-01,1818,12,-9,155,464568.00,1656300,1,1,1,-9,0,1,0,1,0
7,32,200,2,1818-10-01,1818,10,3,2,41600.00,.,0,0,0,0,1,0,1,0,0
8,33,200,-9,1818-06-01,1818,6,1,750,421200.00,.,0,1,0,0,-9,0,1,0,0
9,34,200,-9,1818-01-01,1818,.,2,438,16.00,.,0,0,0,0,-9,0,1,0,0
10,35,640,-9,1818-01-01,1818,.,3,671,388500.00,.,1,1,0,1,-9,1,1,0,0
11,36,2,230,1819-02-01,1819,2,3,40,186488.00,54477,0,0,0,1,0,1,0,0,0
12,37,100,230,1819-12-01,1819,12,-9,100,660760.00,1400000,1,0,1,-9,0,1,0,1,0
13,38,220,580,1819-01-01,1819,.,2,580,1.00,.,0,0,0,0,1,0,1,0,0
14,39,42,230,1821-11-01,1821,11,-9,42,48734.00,89000,1,0,1,-9,0,1,0,-9,0
15,40,70,230,1821-03-01,1821,3,-9,70,1426757.00,7000000,1,0,1,-9,0,1,0,1,0
16,41,100,230,1821-06-01,1821,6,1,101,1082207.00,800000,1,1,0,1,0,1,0,0,0
17,42,135,230,1821-07-01,1821,7,-9,135,1559891.00,1929300,1,0,1,-9,0,1,0,-9,0
18,43,235,230,1821-11-01,1821,11,3,165,269810.00,70000,1,0,0,0,0,0,0,0,0
19,44,100,230,1822-05-01,1822,5,1,130,550685.00,600000,1,1,0,1,0,1,0,0,0
20,45,640,-9,1822-01-01,1822,.,1,625,229471.00,100000,1,1,0,1,-9,1,1,0,0
21,46,140,235,1824-12-01,1824,12,-9,140,8259504.00,5306418,1,0,1,-9,0,1,0,1,0
22,47,200,-9,1824-03-01,1824,3,3,830,583.00,10000,1,0,0,0,1,0,1,0,0
23,48,200,210,1824-03-01,1824,3,3,827,1658.00,77756,0,0,0,0,0,0,0,0,0
24,49,210,200,1824-03-01,1824,3,3,850,25089.00,93875,0,0,0,0,0,0,0,0,0
25,50,145,230,1825-08-01,1825,8,-9,145,3016000.00,1750000,1,0,1,-9,0,1,0,1,0
26,51,200,-9,1825-12-01,1825,12,2,9993,48.00,0,1,0,0,0,-9,0,1,0,0
27,52,580,220,1825-01-01,1825,.,1,580,1.00,.,0,0,0,1,0,1,0,0,0
28,53,616,640,1825-01-01,1825,.,4,616,116348.00,875000,1,0,1,-9,1,1,0,-9,0
29,54,200,-9,1826-01-01,1826,.,2,561,200000.00,.,0,0,0,0,-9,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
807,861,316,315,1993-01-01,1993,1,4,316,79228.00,10300000,1,0,1,-9,1,1,1,1,1
808,862,317,315,1993-01-01,1993,1,4,317,48666.00,5200000,1,0,1,-9,1,1,1,1,1
809,863,531,530,1993-04-01,1993,4,4,531,124993.00,3000000,1,1,1,-9,1,1,1,1,0
810,864,690,645,1993-05-01,1993,5,3,645,.,0,0,0,0,1,1,1,1,0,0
811,865,565,560,1994-03-01,1994,3,3,5651,1124.00,30000,1,0,0,1,0,1,0,0,0
812,866,986,2,1994-10-01,1994,10,-9,980,487.00,15600,0,0,1,-9,0,1,0,1,0
813,867,663,666,1995-02-01,1995,2,3,666,340.00,0,0,0,0,1,1,1,1,0,0
814,868,710,365,1996-04-01,1996,4,3,365,18.00,0,0,0,0,1,1,1,1,0,0
815,869,316,317,1997-06-01,1997,6,3,317,4.52,31,0,0,0,1,1,1,1,0,0
816,870,317,316,1997-06-01,1997,6,3,316,4.52,120,0,0,0,1,1,1,1,0,0
817,871,710,200,1997-07-01,1997,7,3,720,1084.00,6700000,1,0,0,1,0,1,0,0,0
818,872,710,705,1998-07-01,1998,7,3,705,470.00,.,0,0,0,1,1,1,1,0,0
819,873,369,359,1998-08-01,1998,8,3,359,1.00,0,0,0,0,1,1,1,1,0,0
820,874,359,369,1998-08-01,1998,8,3,369,1.00,0,0,0,0,1,1,1,1,0,0
821,875,365,366,1999-03-01,1999,3,3,366,30.00,0,0,0,0,1,1,1,1,0,0
822,876,366,365,1999-03-01,1999,3,3,365,30.00,0,0,0,0,1,1,1,1,0,0
823,877,1,850,1999-10-01,1999,10,3,860,14926.00,780000,1,1,0,-9,1,-9,1,0,0
824,878,710,235,1999-12-01,1999,12,3,721,21.45,447000,1,0,0,1,0,1,0,0,0
825,879,571,-9,1991-01-01,1991,.,1,.,5.00,0,0,0,0,1,-9,1,-9,0,0
826,880,651,625,2000-01-01,2000,1,1,625,20580.00,5000,0,0,0,1,1,1,1,0,0
827,881,860,1,2002-05-01,2002,5,-9,860,14926.00,950000,1,0,1,-9,-9,1,-9,1,0
828,882,475,471,2003-12-01,2003,12,3,471,.,.,0,0,0,1,1,1,1,0,0
829,883,471,475,2003-12-01,2003,12,3,475,.,.,0,0,0,1,1,1,1,0,0
830,884,679,670,2004-07-01,2004,7,3,670,40000.00,.,0,1,0,1,1,1,1,0,0
831,885,348,345,2006-06-01,2006,6,4,348,13812.00,650000,1,0,1,-9,1,1,1,1,0
832,886,471,475,2008-08-01,2008,8,3,475,665.00,300000,0,1,0,1,1,1,1,0,0
833,887,710,365,2008-10-01,2008,10,3,365,174.00,0,0,0,0,1,1,1,1,0,0
834,888,710,702,2011-01-01,2011,1,3,702,1142.00,.,0,0,0,1,1,1,1,0,0
835,889,626,625,2011-07-01,2011,7,-9,626,619745,8260000,1,1,1,-9,1,1,1,1,0
836,890,365,369,2014-03-01,2014,3,1,369,27000.00,2400000,1,1,0,1,1,1,1,0,0

In [44]:
dfTerrChange = dfTerrChange.replace(-9, '')
dfTerrChange = dfTerrChange.replace('.', '')
dfTerrChange

,TerritorialChangeID,Gainer,Loser,TransferDate,Year,Month,Procedure,TerritoryID,TerritoryArea,TerritoryPopulation,IsWholeTerritory,IsMilConflict,IsIndependence,GainerIsCont,LoserIsCont,IsGainerHomeland,IsLoserHomeland,IsSystemEntry,IsSystemExit
0,3,160,230,1816-07-01,1816,7,,160,2093164.00,1970000,1,0,1,,0,1,0,1,0
1,4,200,790,1816-03-01,1816,3,3,790,1.00,,0,1,0,0,1,0,1,0,0
2,5,200,,1816-01-01,1816,,3,420,179.00,,0,0,0,0,,0,1,0,0
3,28,220,200,1817-01-01,1817,,3,433,7819.00,100000,1,0,0,0,0,0,0,0,0
4,29,365,,1817-01-01,1817,,1,365,650.00,,0,1,0,1,1,1,1,0,0
5,30,2,200,1818-10-01,1818,10,3,20,84240.00,,0,0,0,1,0,1,0,0,0
6,31,155,230,1818-12-01,1818,12,,155,464568.00,1656300,1,1,1,,0,1,0,1,0
7,32,200,2,1818-10-01,1818,10,3,2,41600.00,,0,0,0,0,1,0,1,0,0
8,33,200,,1818-06-01,1818,6,1,750,421200.00,,0,1,0,0,,0,1,0,0
9,34,200,,1818-01-01,1818,,2,438,16.00,,0,0,0,0,,0,1,0,0
10,35,640,,1818-01-01,1818,,3,671,388500.00,,1,1,0,1,,1,1,0,0
11,36,2,230,1819-02-01,1819,2,3,40,186488.00,54477,0,0,0,1,0,1,0,0,0
12,37,100,230,1819-12-01,1819,12,,100,660760.00,1400000,1,0,1,,0,1,0,1,0
13,38,220,580,1819-01-01,1819,,2,580,1.00,,0,0,0,0,1,0,1,0,0
14,39,42,230,1821-11-01,1821,11,,42,48734.00,89000,1,0,1,,0,1,0,,0
15,40,70,230,1821-03-01,1821,3,,70,1426757.00,7000000,1,0,1,,0,1,0,1,0
16,41,100,230,1821-06-01,1821,6,1,101,1082207.00,800000,1,1,0,1,0,1,0,0,0
17,42,135,230,1821-07-01,1821,7,,135,1559891.00,1929300,1,0,1,,0,1,0,,0
18,43,235,230,1821-11-01,1821,11,3,165,269810.00,70000,1,0,0,0,0,0,0,0,0
19,44,100,230,1822-05-01,1822,5,1,130,550685.00,600000,1,1,0,1,0,1,0,0,0
20,45,640,,1822-01-01,1822,,1,625,229471.00,100000,1,1,0,1,,1,1,0,0
21,46,140,235,1824-12-01,1824,12,,140,8259504.00,5306418,1,0,1,,0,1,0,1,0
22,47,200,,1824-03-01,1824,3,3,830,583.00,10000,1,0,0,0,1,0,1,0,0
23,48,200,210,1824-03-01,1824,3,3,827,1658.00,77756,0,0,0,0,0,0,0,0,0
24,49,210,200,1824-03-01,1824,3,3,850,25089.00,93875,0,0,0,0,0,0,0,0,0
25,50,145,230,1825-08-01,1825,8,,145,3016000.00,1750000,1,0,1,,0,1,0,1,0
26,51,200,,1825-12-01,1825,12,2,9993,48.00,0,1,0,0,0,,0,1,0,0
27,52,580,220,1825-01-01,1825,,1,580,1.00,,0,0,0,1,0,1,0,0,0
28,53,616,640,1825-01-01,1825,,4,616,116348.00,875000,1,0,1,,1,1,0,,0
29,54,200,,1826-01-01,1826,,2,561,200000.00,,0,0,0,0,,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
807,861,316,315,1993-01-01,1993,1,4,316,79228.00,10300000,1,0,1,,1,1,1,1,1
808,862,317,315,1993-01-01,1993,1,4,317,48666.00,5200000,1,0,1,,1,1,1,1,1
809,863,531,530,1993-04-01,1993,4,4,531,124993.00,3000000,1,1,1,,1,1,1,1,0
810,864,690,645,1993-05-01,1993,5,3,645,,0,0,0,0,1,1,1,1,0,0
811,865,565,560,1994-03-01,1994,3,3,5651,1124.00,30000,1,0,0,1,0,1,0,0,0
812,866,986,2,1994-10-01,1994,10,,980,487.00,15600,0,0,1,,0,1,0,1,0
813,867,663,666,1995-02-01,1995,2,3,666,340.00,0,0,0,0,1,1,1,1,0,0
814,868,710,365,1996-04-01,1996,4,3,365,18.00,0,0,0,0,1,1,1,1,0,0
815,869,316,317,1997-06-01,1997,6,3,317,4.52,31,0,0,0,1,1,1,1,0,0
816,870,317,316,1997-06-01,1997,6,3,316,4.52,120,0,0,0,1,1,1,1,0,0
817,871,710,200,1997-07-01,1997,7,3,720,1084.00,6700000,1,0,0,1,0,1,0,0,0
818,872,710,705,1998-07-01,1998,7,3,705,470.00,,0,0,0,1,1,1,1,0,0
819,873,369,359,1998-08-01,1998,8,3,359,1.00,0,0,0,0,1,1,1,1,0,0
820,874,359,369,1998-08-01,1998,8,3,369,1.00,0,0,0,0,1,1,1,1,0,0
821,875,365,366,1999-03-01,1999,3,3,366,30.00,0,0,0,0,1,1,1,1,0,0
822,876,366,365,1999-03-01,1999,3,3,365,30.00,0,0,0,0,1,1,1,1,0,0
823,877,1,850,1999-10-01,1999,10,3,860,14926.00,780000,1,1,0,,1,,1,0,0
824,878,710,235,1999-12-01,1999,12,3,721,21.45,447000,1,0,0,1,0,1,0,0,0
825,879,571,,1991-01-01,1991,,1,,5.00,0,0,0,0,1,,1,,0,0
826,880,651,625,2000-01-01,2000,1,1,625,20580.00,5000,0,0,0,1,1,1,1,0,0
827,881,860,1,2002-05-01,2002,5,,860,14926.00,950000,1,0,1,,,1,,1,0
828,882,475,471,2003-12-01,2003,12,3,471,,,0,0,0,1,1,1,1,0,0
829,883,471,475,2003-12-01,2003,12,3,475,,,0,0,0,1,1,1,1,0,0
830,884,679,670,2004-07-01,2004,7,3,670,40000.00,,0,1,0,1,1,1,1,0,0
831,885,348,345,2006-06-01,2006,6,4,348,13812.00,650000,1,0,1,,1,1,1,1,0
832,886,471,475,2008-08-01,2008,8,3,475,665.00,300000,0,1,0,1,1,1,1,0,0
833,887,710,365,2008-10-01,2008,10,3,365,174.00,0,0,0,0,1,1,1,1,0,0
834,888,710,702,2011-01-01,2011,1,3,702,1142.00,,0,0,0,1,1,1,1,0,0
835,889,626,625,2011-07-01,2011,7,,626,619745,8260000,1,1,1,,1,1,1,1,0
836,890,365,369,2014-03-01,2014,3,1,369,27000.00,2400000,1,1,0,1,1,1,1,0,0

now need to test if any of the IDs for 'Gainer', 'Loser', or 'TerritoryID' are not in the POLITY dataset

In [45]:
dfgainers = dfTerrChange['Gainer']
dfpolities = dfPolity['PolityID']
flagg = dfgainers.isin(dfpolities)
flagg.value_counts()

True    837
Name: Gainer, dtype: int64

In [46]:
dflosers = dfTerrChange['Loser']
dfpolities = dfPolity['PolityID']
flagl = dflosers.isin(dfpolities)
flagl.value_counts()

True     699
False    138
Name: Loser, dtype: int64

In [47]:
dfTerrChange.loc[(flagl == False)]

,TerritorialChangeID,Gainer,Loser,TransferDate,Year,Month,Procedure,TerritoryID,TerritoryArea,TerritoryPopulation,IsWholeTerritory,IsMilConflict,IsIndependence,GainerIsCont,LoserIsCont,IsGainerHomeland,IsLoserHomeland,IsSystemEntry,IsSystemExit
2,5,200,,1816-01-01,1816,,3,420,179.00,,0,0,0,0,,0,1,0,0
4,29,365,,1817-01-01,1817,,1,365,650.00,,0,1,0,1,1,1,1,0,0
8,33,200,,1818-06-01,1818,6,1,750,421200.00,,0,1,0,0,,0,1,0,0
9,34,200,,1818-01-01,1818,,2,438,16.00,,0,0,0,0,,0,1,0,0
10,35,640,,1818-01-01,1818,,3,671,388500.00,,1,1,0,1,,1,1,0,0
20,45,640,,1822-01-01,1822,,1,625,229471.00,100000,1,1,0,1,,1,1,0,0
22,47,200,,1824-03-01,1824,3,3,830,583.00,10000,1,0,0,0,1,0,1,0,0
26,51,200,,1825-12-01,1825,12,2,9993,48.00,0,1,0,0,0,,0,1,0,0
29,54,200,,1826-01-01,1826,,2,561,200000.00,,0,0,0,0,,0,1,0,0
31,56,200,,1826-06-01,1826,6,3,821,1.00,,0,0,0,0,,0,1,0,0
33,58,210,,1828-12-01,1828,12,1,851,412781.00,200000,1,0,0,0,,0,1,0,0
38,63,365,,1829-01-01,1829,,1,365,4680.00,,0,1,0,1,,1,1,0,0
41,66,365,,1830-01-01,1830,,1,365,9360.00,,0,1,0,1,,1,1,0,0
44,69,200,,1835-01-01,1835,,2,561,1.00,,0,0,0,0,,0,1,0,0
47,73,200,,1839-01-01,1839,1,2,680,207.00,29730,1,0,0,0,,0,1,0,0
49,75,210,,1839-01-01,1839,,3,850,5560.00,20978000,1,1,0,0,,0,1,0,0
52,78,200,,1840-01-01,1840,1,2,920,268676.00,31907,1,0,0,0,,0,1,0,0
53,79,235,,1840-01-01,1840,,2,540,140000.00,,0,0,0,0,,0,1,0,0
54,81,220,,1841-03-01,1841,3,2,581,373.00,6888,0,0,0,0,,0,1,0,0
58,85,220,,1842-05-01,1842,5,2,960,1321.00,20200,0,0,0,0,,0,1,0,0
61,89,210,,1843-01-01,1843,,3,850,4748.00,,0,0,0,0,,0,1,0,0
62,90,220,,1843-06-01,1843,6,3,437,6370.00,,0,0,0,0,,0,1,0,0
64,93,220,,1844-01-01,1844,,1,960,1595.00,9000,1,1,0,0,,0,1,0,0
66,95,220,,1845-01-01,1845,,3,481,66914.00,,0,0,0,0,,0,1,0,0
71,100,200,,1847-01-01,1847,,1,560,1.00,,0,1,0,0,,0,1,0,0
72,101,220,,1847-12-01,1847,12,1,615,200000.00,,0,1,0,0,,0,1,0,0
75,105,200,,1849-12-01,1849,12,1,,151536.00,9153209,1,1,0,0,,0,1,0,0
77,107,220,,1849-04-01,1849,4,2,438,19500.00,,0,0,0,0,,0,1,0,0
86,117,220,,1853-12-01,1853,12,1,930,16112.00,60000,1,1,0,0,,0,1,0,0
87,118,365,,1853-01-01,1853,,2,365,66120.00,,0,0,0,1,,1,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
300,341,220,,1893-01-01,1893,,1,430,842400.00,,0,1,0,0,,0,1,0,0
302,343,220,,1893-01-01,1893,1,2,9970,6931.00,0,0,0,0,0,,0,1,0,0
304,345,200,,1894-06-01,1894,6,2,500,64999.00,,0,0,0,0,,0,1,0,0
305,346,200,,1894-09-01,1894,9,2,560,10464.00,166080,0,0,0,0,,0,1,0,0
307,348,220,,1894-12-01,1894,12,1,434,115760.00,600000,0,1,0,0,,0,1,0,0
308,349,220,,1894-01-01,1894,,3,482,622984.00,,1,0,0,0,,0,1,0,0
309,350,325,,1894-07-01,1894,7,1,625,1.00,,0,1,0,0,,0,1,0,0
311,352,200,,1895-06-01,1895,6,2,560,1560.00,,0,0,0,0,,0,1,0,0
314,355,200,,1896-08-01,1896,8,1,452,100000.00,317964,0,1,0,0,,0,1,0,0
315,356,200,,1896-06-01,1896,6,2,500,19685.00,,0,0,0,0,,0,1,0,0
316,357,200,,1896-08-01,1896,8,1,452,24484.00,,0,1,0,0,,0,1,0,0
317,358,200,,1896-08-01,1896,8,2,451,71939.00,1000000,0,0,0,0,,0,1,0,0
322,363,200,,1897-01-01,1897,,2,452,98080.00,,0,0,0,0,,0,1,0,0
324,365,2,,1898-07-01,1898,7,2,9720,8.00,,1,0,0,0,,0,1,0,0
333,374,200,,1898-01-01,1898,,2,940,71728.00,,0,0,0,0,,0,1,0,0
344,386,220,,1899-12-01,1899,12,1,430,2394466.00,,0,1,0,0,,0,1,0,0
361,404,200,,1903-03-01,1903,3,1,4784,668220.00,10000000,1,1,0,0,,0,1,0,0
378,421,210,,1907-12-01,1907,12,1,850,53020.00,582175,0,1,0,0,,0,1,0,0
385,428,220,,1909-01-01,1909,1,1,435,893700.00,223000,0,1,0,0,,0,1,0,0
391,434,220,,1911-01-01,1911,,1,483,76534.00,,0,1,0,0,,0,1,0,0
409,452,200,822,1914-05-01,1914,5,2,822,18985.00,180412,0,0,0,0,,0,1,0,0
488,535,2,,1922-05-01,1922,5,2,9760,0.00,0,1,0,0,0,,0,1,0,0
572,620,560,,1947-12-01,1947,12,2,560,429.00,0,0,0,0,0,,1,1,0,0
771,825,645,,1981-12-01,1981,12,3,,3333.00,0,0,0,0,1,,1,,0,0
772,826,670,,1981-12-01,1981,12,3,,3333.00,0,0,0,0,1,,1,,0,0
775,829,155,,1984-11-01,1984,11,3,,1079.00,0,0,0,0,1,,1,,0,0
776,830,160,,1984-11-01,1984,11,3,,1083.00,0,0,0,0,1,,1,,0,0
802,856,92,,1992-09-01,1992,9,3,,147.00,36000,0,0,0,1,,1,,0,0
803,857,91,,1992-09-01,1992,9,3,,293.00,13000,0,0,0,1,,1,,0,0
825,879,571,,1991-01-01,1991,,1,,5.00,0,0,0,0,1,,1,,0,0

In [48]:
dfTerrChangeLoserFlag = dfTerrChange.loc[(flagl == False)]
dfTerrChangeLoserFlag['Loser'].value_counts()

       137
822      1
Name: Loser, dtype: int64

In [49]:
dfTerrChange['Loser'] [flagl == False] = ''

/usr/local/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [50]:
dfterrs = dfTerrChange['TerritoryID']
dfpolities = dfPolity['PolityID'].astype(str)
flagt = dfterrs.isin(dfpolities)
flagt.value_counts()

True     826
False     11
Name: TerritoryID, dtype: int64

In [51]:
dfTerrChange.loc[(flagt == False)]

,TerritorialChangeID,Gainer,Loser,TransferDate,Year,Month,Procedure,TerritoryID,TerritoryArea,TerritoryPopulation,IsWholeTerritory,IsMilConflict,IsIndependence,GainerIsCont,LoserIsCont,IsGainerHomeland,IsLoserHomeland,IsSystemEntry,IsSystemExit
75,105,200,,1849-12-01,1849,12,1,,151536.00,9153209,1,1,0,0,,0,1,0,0
384,427,200,800,1909-03-01,1909,3,3,822,38195.00,450000,0,0,0,0,1,0,1,0,0
409,452,200,,1914-05-01,1914,5,2,822,18985.00,180412,0,0,0,0,,0,1,0,0
706,756,740,2,1968-06-01,1968,6,3,,100.00,,0,0,0,0,0,1,0,0,0
771,825,645,,1981-12-01,1981,12,3,,3333.00,0,0,0,0,1,,1,,0,0
772,826,670,,1981-12-01,1981,12,3,,3333.00,0,0,0,0,1,,1,,0,0
775,829,155,,1984-11-01,1984,11,3,,1079.00,0,0,0,0,1,,1,,0,0
776,830,160,,1984-11-01,1984,11,3,,1083.00,0,0,0,0,1,,1,,0,0
802,856,92,,1992-09-01,1992,9,3,,147.00,36000,0,0,0,1,,1,,0,0
803,857,91,,1992-09-01,1992,9,3,,293.00,13000,0,0,0,1,,1,,0,0
825,879,571,,1991-01-01,1991,,1,,5.00,0,0,0,0,1,,1,,0,0

In [52]:
dfTerrChange['TerritoryID'] [flagt == False] = ''

/usr/local/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

Note: territory code 822 is a problem. It occurs once as a loser and twice as a territory ID. In the list of territories, there is no 822, but there are several 822_'s (ie 8221, 8222, 8223...). My guess is 822 used to exist (near Malaysia), and was later broken down into several component territories, with the 1 digit longer codes replacing 822. However, these three instances were not replaced. For now, they will be made null.

In [53]:
dfTerrChange.to_csv('../FinalData/territorialchange.csv', encoding='utf-8', index=False)