In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("../Data/FINAL/final_time-series.csv")

In [3]:
df

,country_name,year,continent,region,cow_id,gw_id,iso3alpha,p4_id,wb_id,ucdp_war_count,...,wb_SI.POV.GINI,wb_SL.UEM.TOTL.ZS,wb_SP.DYN.IMRT.IN,wb_SP.DYN.LE00.IN,wb_SP.DYN.TFRT.IN,wb_SP.POP.GROW,wb_SP.POP.TOTL,wb_SP.POP.TOTL.FE.IN,wb_SP.URB.TOTL.IN.ZS,wb_ST.INT.ARVL
0,Afghanistan,1946,Asia,Southern Asia,700.0,700.0,AFG,700.0,AFG,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,1947,Asia,Southern Asia,700.0,700.0,AFG,700.0,AFG,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Afghanistan,1948,Asia,Southern Asia,700.0,700.0,AFG,700.0,AFG,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Afghanistan,1949,Asia,Southern Asia,700.0,700.0,AFG,700.0,AFG,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Afghanistan,1950,Asia,Southern Asia,700.0,700.0,AFG,700.0,AFG,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10974,Zimbabwe,2014,Africa,Eastern Africa,552.0,552.0,ZWE,552.0,ZWE,0,...,NaN,5.518,40.4,58.410,3.974,1.754692,13586681.0,7126780.0,32.504,1880000.0
10975,Zimbabwe,2015,Africa,Eastern Africa,552.0,552.0,ZWE,552.0,ZWE,0,...,NaN,5.438,38.5,59.534,3.896,1.663813,13814629.0,7245857.0,32.385,2057000.0
10976,Zimbabwe,2016,Africa,Eastern Africa,552.0,552.0,ZWE,552.0,ZWE,0,...,NaN,5.239,36.3,60.294,3.804,1.549759,14030390.0,7356159.0,32.296,2168000.0
10977,Zimbabwe,2017,Africa,Eastern Africa,552.0,552.0,ZWE,552.0,ZWE,0,...,NaN,4.943,35.4,60.812,3.707,1.460061,14236745.0,7459621.0,32.237,2423000.0
10978,Zimbabwe,2018,Africa,Eastern Africa,552.0,552.0,ZWE,552.0,ZWE,0,...,NaN,4.915,33.9,NaN,NaN,1.410783,14439018.0,7559801.0,32.209,NaN

In [4]:
df.columns

Index(['country_name', 'year', 'continent', 'region', 'cow_id', 'gw_id',
       'iso3alpha', 'p4_id', 'wb_id', 'ucdp_war_count', 'ucdp_conflict_count',
       'ucdp_max_ep-intensity', 'ucdp_incompatibility_isTerritory',
       'ucdp_incompatibility_isGovernment', 'ucdp_type_Extrasystemic',
       'ucdp_type_Internal', 'ucdp_type_Internationalized Internal',
       'ucdp_type_Interstate', 'ucdp_role_primary', 'ucdp_role_secondary',
       'ucdp_ep-intensity_Minor', 'ucdp_ep-intensity_War',
       'ucdp_cum-intensity_Minor', 'ucdp_cum-intensity_War', 'cow_war_count',
       'cow_IsInitiator', 'cow_avg_deaths', 'cow_type_extrastate',
       'cow_type_interstate', 'cow_type_intrastate', 'cow_type_nonstate',
       'cow_outcome_cont-conflict', 'cow_outcome_lose',
       'cow_outcome_ongoing2008', 'cow_outcome_stalemate', 'cow_outcome_tied',
       'cow_outcome_war-transitioned', 'cow_outcome_win', 'p4_fragment',
       'p4_democ', 'p4_autoc', 'p4_polity', 'p4_polity2', 'p4_durable',
       'p4_xrreg', 'p4_xrcomp', 'p4_xropen', 'p4_xconst', 'p4_parreg',
       'p4_parcomp', 'p4_exrec', 'p4_exconst', 'p4_polcomp', 'p4_interim',
       'p4_change', 'p4_d4', 'p4_sf', 'p4_regtrans', 'wb_BX.KLT.DINV.CD.WD',
       'wb_EG.ELC.ACCS.ZS', 'wb_EN.ATM.CO2E.PC', 'wb_EN.POP.DNST',
       'wb_FP.CPI.TOTL.ZG', 'wb_MS.MIL.XPND.GD.ZS', 'wb_NE.EXP.GNFS.ZS',
       'wb_NY.GDP.MKTP.CD', 'wb_NY.GDP.MKTP.KD.ZG', 'wb_NY.GDP.PCAP.CD',
       'wb_NY.GDP.PCAP.KD.ZG', 'wb_NY.GDP.PCAP.PP.CD', 'wb_SE.ADT.LITR.ZS',
       'wb_SE.XPD.TOTL.GB.ZS', 'wb_SH.XPD.CHEX.GD.ZS', 'wb_SI.POV.GINI',
       'wb_SL.UEM.TOTL.ZS', 'wb_SP.DYN.IMRT.IN', 'wb_SP.DYN.LE00.IN',
       'wb_SP.DYN.TFRT.IN', 'wb_SP.POP.GROW', 'wb_SP.POP.TOTL',
       'wb_SP.POP.TOTL.FE.IN', 'wb_SP.URB.TOTL.IN.ZS', 'wb_ST.INT.ARVL'],
      dtype='object')

In [5]:
df['country_name'].nunique()

202

In [6]:
df['year'].min(), df['year'].max()

(1946, 2018)

In [4]:
len(['wb_BX.KLT.DINV.CD.WD',
       'wb_EG.ELC.ACCS.ZS', 'wb_EN.ATM.CO2E.PC', 'wb_EN.POP.DNST',
       'wb_FP.CPI.TOTL.ZG', 'wb_MS.MIL.XPND.GD.ZS', 'wb_NE.EXP.GNFS.ZS',
       'wb_NY.GDP.MKTP.CD', 'wb_NY.GDP.MKTP.KD.ZG', 'wb_NY.GDP.PCAP.CD',
       'wb_NY.GDP.PCAP.KD.ZG', 'wb_NY.GDP.PCAP.PP.CD', 'wb_SE.ADT.LITR.ZS',
       'wb_SE.XPD.TOTL.GB.ZS', 'wb_SH.XPD.CHEX.GD.ZS', 'wb_SI.POV.GINI',
       'wb_SL.UEM.TOTL.ZS', 'wb_SP.DYN.IMRT.IN', 'wb_SP.DYN.LE00.IN',
       'wb_SP.DYN.TFRT.IN', 'wb_SP.POP.GROW', 'wb_SP.POP.TOTL',
       'wb_SP.POP.TOTL.FE.IN', 'wb_SP.URB.TOTL.IN.ZS', 'wb_ST.INT.ARVL'])

25